<h1 class="loader" [ngClass]="{'loading': !Data['title']}">데이터를 불러오고 있습니다.</h1>
<section [ngClass]="{'hasData': Data['title']}">
  <div id="top">
    <div id="imgNav">
      <div id="levelBar" [class]="Data['level']">{{Data['level']}}</div>
      <img [src]="imgUrl" />
    </div>
    <div id="description">
      <h1>{{Data['title']}}</h1>
      <p class="document" [innerHtml]="Data['summary']"></p>
      <div>
        <label>분양모집</label>
        <p>{{dateStatus}}</p>
        <!-- <p>{{Data['open-start'].slice(0,10)}} - {{Data['open-end'].slice(0,10)}}</p> -->
      </div>
      <div>
        <label>분양가</label>
        <p class="price">{{( Data['ammount']* 10000000).toLocaleString() }}원</p>
      </div>
      <app-button>담당자 | {{Data['manager-name']}} | {{Data['manager-contact']}}</app-button>
      <div id="optionBar">
        <span id="bookmark" [ngClass]="{'selected': isBookmarked}" (click)="bookmark()"></span>
        <span id="facebook" (click)="fbShare()"></span>
      </div>
    </div>
  </div>
  <app-group>
    <article *ngIf="showCharts">
      <div class="row">
        <label>현장 시세</label>
        <ng-container appMypost></ng-container>
      </div>
    </article>
    <article>
      <div class="row">
        <label>현장 리포트
          <p class="more" (click)="showMore(reportDetail)">더보기 ></p>
        </label>
        <div class="editorContainer document">
          <p [ngClass]="{'shortener': !showMoreReport}" [innerHtml]="Data['report']"></p>
        </div>
      </div>
    </article>

    <div class="subGroup">
      <label>현장 사진</label>
      <article>
        <div id="imgNavigatorContainer">
          <div id="imgNavigator" class="row navigator" #imgNavigator>
            <img id="m1" class="show" src="/assets/img/map.png" (click)="selectImg(0)" />
            <img id="i1" [src]="subImgUrl[1]" (click)="selectImg(1)" />
            <img id="i2" *ngIf="subImgUrl[2]" [src]="subImgUrl[2]" (click)="selectImg(2)" />
            <img id="i3" *ngIf="subImgUrl[3]" [src]="subImgUrl[3]" (click)="selectImg(3)" />
            <img id="i4" *ngIf="subImgUrl[4]" [src]="subImgUrl[4]" (click)="selectImg(4)" />
            <img id="i5" *ngIf="subImgUrl[5]" [src]="subImgUrl[5]" (click)="selectImg(5)" />
          </div>
        </div>
        <div hidden class="row"></div>
        <div [hidden]="!showMap" class="row shower">
          <label> {{selectedNum}} / 5 </label>
          <app-map [address]="Data['map']"></app-map>
        </div>
        <div [hidden]="!showMap" class="row addressBar">
          <label></label>
          <p>{{Data['map']}}</p>
        </div>
        <div [hidden]="showMap" class="row shower">
          <label> {{selectedNum}} / 5 </label>
          <img [src]="selectedImgUrl" />
        </div>
      </article>
    </div>
    <div class="subGroup">
      <label>현장 댓글
        <p class="more" (click)="showMore(commentDetail)">더보기 ></p>
      </label>
      <article class="comments">
        <div class="row" *ngIf="comments.length > 0">
          <label>{{comments[0]['u-id']}}</label>
          <p>{{comments[0]['contents']}}</p>
          <span>{{comments[0]['createdAt'].slice(0,10)}}</span>
        </div>
        <div class="row" *ngIf="comments.length > 1">
          <label>{{comments[1]['u-id']}}</label>
          <p>{{comments[1]['contents']}}</p>
          <span>{{comments[1]['createdAt'].slice(0,10)}}</span>
        </div>
        <div name="commentBox" class="row">
          <form class="commentForm" (submit)="addComment()">
            <label>{{userInfo['user_id'].length ? userInfo['user_id'] : '비회원'}}</label>
            <textarea type="text" class="commentInput" #NewComment></textarea>
            <app-button (click)="addComment()">댓글 입력</app-button>
          </form>
        </div>
      </article>
    </div>

    <article>
      <div class="row">
        <label>관련 분양 리포트</label>
        <div class="row flex">
          <ng-container appRankingpost></ng-container>
        </div>
      </div>
    </article>
  </app-group>
</section>

<app-popup #reportDetail>
  <h1>현장 리포트</h1>
  <p class="document" [innerHtml]="Data['report']"></p>
</app-popup>
<app-popup #commentDetail>
  <h1>현장 댓글</h1>
  <div class="row" *ngFor="let comment of comments">
    <label>{{comment['u-id']}}</label>
    <p>{{comment['contents']}}</p>
    <span>{{comment['createdAt'].slice(0,10)}}</span>
    <span class="delete" *ngIf="isAdmin()" (click)="deleteComment(comment['u-id'], comment['c-id'])">삭제</span>
  </div>
</app-popup>
