<section>
  <div id="top">
    <div id="imgNav">
      <div id="levelBar" [class]="Data['level'].toLowerCase()">{{Data['level']}}</div>
      <img [src]="imgUrl" />
    </div>
    <div id="description">
      <h1>{{Data['title']}}</h1>
      <p [innerHtml]="Data['summary']"></p>
      <div>
        <label>분양모집일</label>
        <p>{{Data['open-start'].slice(0,10)}} - {{Data['open-end'].slice(0,10)}}</p>
      </div>
      <div>
        <label>분양가</label>
        <p class="price">{{( Data['ammount']* 1000000).toLocaleString() }}원</p>
      </div>
      <app-button>담당자 | {{Data['manager-name']}} | {{Data['manager-contact']}}</app-button>
      <div id="optionBar">
        <img src="/assets/img/icon_bookmark_black.png">
        <img src="/assets/img/icon_facebook_black.png">
      </div>
    </div>
  </div>
  <app-group>
    <article *ngIf="showCharts">
      <div class="row">
        <label>현장 시세</label>
        <ng-container appMypost></ng-container>
      </div>
    </article>
    <article>
      <div class="row">
        <label>현장 리포트
          <p class="more" (click)="showMore(reportDetail)">더보기 ></p>
        </label>
        <div class="editorContainer">
          <p [ngClass]="{'shortener': !showMoreReport}" [innerHtml]="Data['report']"></p>
        </div>
      </div>
    </article>
    <app-popup #reportDetail>
      <h1>현장 리포트</h1>
      <p [innerHtml]="Data['report']"></p>
    </app-popup>
    <div class="subGroup">
      <label>현장 사진</label>
      <article>
        <div id="imgNavigator" class="row navigator" #imgNavigator>
          <img id="i1" class="show" [src]="subImgUrl[1]" (click)="selectImg(1)" />
          <img id="i2" [src]="subImgUrl[2]" (click)="selectImg(2)" />
          <img id="i3" [src]="subImgUrl[3]" (click)="selectImg(3)" />
          <img id="i4" [src]="subImgUrl[4]" (click)="selectImg(4)" />
          <img id="i5" [src]="subImgUrl[5]" (click)="selectImg(5)" />
        </div>
        <div class="row shower">
          <label> {{selectedNum}} / 5 </label>
          <img [src]="selectedImgUrl" />
        </div>
      </article>
    </div>
    <div class="subGroup">
      <label>현장 댓글
        <p class="more" (click)="showMore(commentDetail)">더보기 ></p>
      </label>
      <article class="comments">
        <div class="row" *ngIf="comments.length > 0">
          <label>{{comments[0]['u-id']}}</label>
          <p>{{comments[0]['contents']}}</p>
          <span>{{comments[0]['createdAt'].slice(0,10)}}</span>
        </div>
        <div class="row" *ngIf="comments.length > 1">
          <label>{{comments[1]['u-id']}}</label>
          <p>{{comments[1]['contents']}}</p>
          <span>{{comments[1]['createdAt'].slice(0,10)}}</span>
        </div>
        <div name="commentBox" class="row">
          <form class="commentForm" (submit)="addComment()">
            <label>{{userInfo['u-id']}}</label>
            <textarea type="text" class="commentInput" #NewComment></textarea>
            <app-button (click)="addComment()">댓글 입력</app-button>
          </form>
        </div>
      </article>
    </div>
    <app-popup #commentDetail>
      <h1>현장 댓글</h1>
      <div class="row" *ngFor="let comment of comments">
        <label>{{comment['u-id']}}</label>
        <p>{{comment['contents']}}</p>
        <span>{{comment['createdAt'].slice(0,10)}}</span>
      </div>
    </app-popup>
    <article>
      <div class="row">
        <label>관련 분양 리포트</label>
        <div class="row flex">
          <ng-container appRankingpost></ng-container>
        </div>
      </div>
    </article>
  </app-group>
</section>