:host {
  flex-direction: column;
  flex: 1;
  background: #eee;
  padding: 1em;
}

quill-editor {
  flex: 1;
  margin-bottom: 3em;
}

quill-editor /deep/ .ql-container {
  border: 1px solid #d8d8d8;  
}

quill-editor /deep/ .ql-editor:focus {
  outline: var(--company-color) auto 5px;
}

quill-editor.short /deep/ .ql-editor {
  min-height: 4em !important;
}

section {
  width: calc(var(--main-width) - 225px);
  margin: 0 0 auto 0;
  display: flex;
  padding: 0;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper+.wrapper {
  margin-top: 0.5em;
}

.container,
.listContainer {
  flex: 1;
}

article {
  flex: 1;
  padding: 1em 0;
  margin: 0.5em;
  background: white;
  min-height: 100px;
}

article header {
  border-bottom: 1px solid #ddd;
  padding: 0.5em 2em;
  display: flex;
  align-items: flex-end;
}

article header * {
  flex: 1;
}

article .contentsBar {
  border-bottom: 1px solid #ddd;
  padding: 0.5em 1em;
  display: flex;
  align-items: flex-end;
}
article .contentsBar * {
  flex: 1;
  font-size: 0.9em;
}

h1 {
  flex: 1;
  font-size: 1.2em;
  line-height: 180%;
}

h2 {
  padding-top: 0.5em;
}

#title {
  font-size: 0.9em;
}

#date {
  font-size: 0.7em;
  text-align: right;
}

.subtitle {
  padding: 2em 2em 0 2em;
  font-size: 1em;
}

li {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25em 2em;
  margin: 0.3em 0;
}

li h2 {
  display: inline-block;
  width: 150px;
  line-height: 200%;
  font-size: 0.9em;
  margin: 0;
}

li h3 {
  display: block;
  flex: none;
  line-height: 150%;
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em 1em;
  border: 1px solid #d8d8d8;
  border-left: none;
}

li h4 {
  display: block;
  flex: none;
  width: 7em;
  line-height: 200%;
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em 1em;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

.checkboxGroup {
  padding: 1.1em 0;
  flex: 1;
}

.checkboxGroup * {
  float: right;
}

.checkboxGroup input {
  margin: 0.15em 0;
}

.checkboxGroup label {
  font-size: 0.9em;
  margin-right: 1em;
}

input[type="date"] {
  height: 2em;
}

input#search {
  border: none;
  background: transparent;
  font-size: 1.2em;
}

input,
textarea {
  flex: 1;
  width: auto;
  border: 1px solid #d8d8d8;
  font-size: 0.9em;
  line-height: 150%;
  margin: 0;
  padding: 0.5em 1em;
}

textarea {
  height: 12em;
}

:host /deep/ .fr-box {
  flex: 1;
}

.listContainer li {
  margin: 0;
  padding: 0;
}

input+input {
  margin-left: 0.5em;
}

input.box {
  min-width: 3em;
  margin: 0;
}

input.box+input.box {
  margin-left: 0;
}

input.search {
  border: none;
  background: url('/assets/img/search.png');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-x: right;
  background-position-y: 0.7em;
  padding-right: 2em;
  outline: none;
}

*+input.search {
  border-left: 1px solid #ddd;
}

.blank {
  width: 20%;
}

.submitBar {
  border-top: 1px solid #ddd;
  height: 4em;
  display: block;
}

.submitBar button {
  margin-left: 1em;
}

button {
  border: none;
  background: transparent;
  font-size: 1em;
  float: right;
  padding: 1em;
  transition: background 0.5s;
  outline: none;
}

button:hover {
  background: #ddd;
}

app-select+app-select {
  border-left: 1px solid #ddd;
}
