<div class="card" (click)="isSelf()" [routerLink]="'/meeting/detail/'+record['no']">
  <div id="levelBar">{{ record['level'] }}</div>
  <div id="imgFrame">
    <img [src]="imageUrl" alt="미팅 사진">
  </div>
  <div id="buttonBar">
    <img id="bookmark" (click)="bookmark(); $event.stopPropagation();" src="/assets/img/icon_bookmark.png" />
    <img src="/assets/img/icon_share.png" />
  </div>
  <h2>{{ record['title'] }}</h2>
  <h4>모집일 {{ formatDate(record['apply-start']) }} ~ {{ formatDate(record['apply-end']) }}</h4>
</div>
