<article>
  <form [formGroup]="useForm" id="use" (ngSubmit)="onSubmitUse()">
    <header>
      <h1>이용 안내 수정</h1>
    </header>
    <li class="form-group">
      <quill-editor class="form-control" formControlName="content" [options]="editorOptions"></quill-editor>
    </li>
    <li class="submitBar">
      <button [type]="'submit'" (click)="onSubmitUse()">수정하기</button>
    </li>
  </form>
</article>

<article>
  <form [formGroup]="privacyForm" id="use" (ngSubmit)="onSubmitPrivacy()">
    <header>
      <h1>개인정보 취급방침 수정</h1>
    </header>
    <li class="form-group">
      <quill-editor class="form-control" formControlName="content" [options]="editorOptions"></quill-editor>
    </li>
    <li class="submitBar">
      <button [type]="'submit'" (click)="onSubmitPrivacy()">수정하기</button>
    </li>
  </form>
</article>
