<section>
  <h1>구인 구직 등록하기</h1>
  <div class="typeBox">
    <h2>구인</h2>
    <p>회사에 맞는 인재를 구하고 싶으신가요?
      <br>부동산 정보, 분양 현장을 전문적으로
      <br>다루고 있는 We2Win에서 찾아보세요!</p>
    <div class="wrapper">
      <div class="point">
        <h3>차감 포인트</h3>
        <h4>1,900</h4>
      </div>
      <div class="description">
        <h3>포인트 충전하기</h3>
        <h3>포인트는 바로 차감되지 않으며,
          <br>구인이 등록 된 후 차감됩니다.</h3>
      </div>
    </div>
    <app-button routerLink="../apply-employer">구인 등록하기</app-button>
  </div>

  <div class="typeBox">
    <h2>구직</h2>
    <p>능력에 맞는 회사에서 일하고 싶으신가요?
      <br>부동산 정보, 분양 현장을 전문적으로
      <br>다루고 있는 We2Win에서 찾아보세요!</p>
    <div class="wrapper">
      <div class="point">
        <h3>차감 포인트</h3>
        <h4>1,900</h4>
      </div>
      <div class="description">
        <h3>포인트 충전하기</h3>
        <h3>포인트는 바로 차감되지 않으며,
          <br>구직이 등록 된 후 차감됩니다.</h3>
      </div>
    </div>
    <app-button routerLink="../apply-employee">구직 등록하기</app-button>
  </div>
</section>
