:host {
  display: block;
  min-width: var(--main-width);
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.grey {
  background: #d8d8d8;
}

h1 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
  margin: 2em 0 1.5em 0;
  text-align: center;
}

.contents {
  width: calc(var(--main-width) - 160px);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@keyframes intro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contents /deep/ .card {
  opacity: 1;
  animation: intro 0.5s;
  animation-fill-mode: forwards;
  transition: opacity 1s;
}


:host /deep/ .c2 {
  display: none !important;
}

:host /deep/ .c2.show {
  display: flex !important;
}

app-button {
  margin: 2em 0 0 0;
}
