:host {
  display: block;
  min-width: var(--main-width);
}

section {
  text-align: center;
}

.grey {
  background: #d8d8d8;
}

h1 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 400;
  margin: 2em 0 1.5em 0;
  text-align: center;
}

.contents {
  width: calc(var(--main-width) - 160px);
}

:host /deep/ .contents .c1,
:host /deep/ .contents .c2
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

:host /deep/ .c2 {
  display: none !important;
}

:host /deep/ .c2.show {
  display: flex !important;
}

app-button {
  margin: 2em 0;
}
