<ifModule mod_rewrite.c>

RewriteEngine On
Options FollowSymLinks

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/ws/
RewriteRule ^(.*)$ index.html [L,QSA]

RewriteRule ^(ws/.*)$ ws/index.php?request=$1 [L,QSA]

</ifModule>