:host {
    visibility: hidden;
}

:host.show {
    visibility: visible;
}

#popupBox {
    position: fixed;
    margin: auto;
    padding: 2em;
    width: 50vw;
    max-height: 80vh;
    top: 10vh;
    left: 25vw;
    background: #fff;
    z-index: 11;
    text-align: left;
    overflow-y: scroll;
}

#dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s;
}

:host.show #dim {
    opacity: 1;
}