:host {
    visibility: hidden;
}

:host.show {
    visibility: visible;
}

#popupBox {
    position: fixed;
    margin: auto;
    padding: 30px;
    width: 733px;
    max-height: 80vh;
    top: 10vh;
    right: 0;
    background: #fff;
    z-index: 11;
    text-align: left;
    overflow-y: scroll;
    box-shadow: 0 30px 50px #333;
}

:host.show #popupBox:before {
    content: '닫기';
    position: fixed;
    top: calc(10vh - 50px);
    right: 0;
    font-size: 14px;
    line-height: 500%;
    width: 2em;
    color: white;
    /* background: rgba(255, 255, 255, 0.3); */
    border-radius: 50%;
    cursor: default;
    z-index: 20;
    pointer-events: none;
    text-align: center;
}

#dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s;
    overflow-y: scroll;
    -webkit-backdrop-filter: blur(5px);
}

:host.show #dim {
    opacity: 1;
}