/* :host {
  position: relative;
  width: 144px;
  height: 25px;
  float: right;
  margin: 11px 0 11px 0;
  text-align: left;
  font-size: 0.8em;
  line-height: 200%;
  user-select: none;
} */

:host {
  display: inline-block;  
  width: 144px;
  height: 25px;
  margin: 0 0 0 -224px;
  float: right;
  text-align: left;
  font-size: 12px;
}

#container {
  padding: 7px 1em;
  font-weight: 200;
  border: 2px solid transparent;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  transition: border 0.5s;
}

#container:after {
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  margin: 0.5em 0;
  background: url('/assets/img/arrow_down_black.png');
  background-size: 0.9em;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

ul {
  position: relative;
  width: 100%;
  height: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -1px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 1);
  color: #666;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 5;
  display: none;
}

ul.semiShow {
  opacity: 0.4;
  height: auto;
  display: inherit;
}

ul.show {
  opacity: 1;
  height: auto;
  display: inherit;
}

li {
  display: block;
  width: 100%;
  padding: 0.3em 1em;
  box-sizing: border-box;
}

li:hover {
  background: rgba(200, 200, 200, 1);
  color: black;
}

