<section>
  <article>
    <header>
      <h1>카테고리</h1>
      <app-select [type]="'상위 카테고리'"></app-select>
      <app-select [type]="'하위 카테고리'"></app-select>
    </header>
    <app-table [type]="'contents-modification'"></app-table>
  </article>
  <div class="particle">
    <div id="titleBar">
      <h1>카테고리</h1>
    </div>

    <li>
      <h2>제목</h2>
    </li>
    <li>
      <h2>요약 정보</h2>
    </li>
    <li>
      <h2>분양 오픈일</h2>
    </li>
    <li>
      <h2>분양가</h2>
    </li>
    <li>
      <h2>담당자 정보</h2>
    </li>
    <li>
      <h2>현장 시세</h2>
    </li>
    <li>
      <h2>현장 리포트</h2>
    </li>
    <li>
      <h2>현장 사진</h2>
    </li>
  </div>
</section>