<section>
  <nav>
    <li>이용 약관</li>
    <li>개인정보 취급방침</li>
  </nav>

  <p>
    <b>We2Win㈜</b> 대표 : @@@ ㅣ 사업자등록번호 : 123-45-67890 ㅣ 통신판매업 : 1111-서울강남-11111호 ㅣ 소재지 : 서울시 강남구 어디대로 11길
    <br>입금계좌: 농협 123-4567-8901-23(위투윈서비스(주))ㅣ Tel. 01-1111-1111ㅣ Fax. 01-1111-1111ㅣ E-mail. we2win@we2wein.co.kr</p>
  <p>
    <b>위투윈</b>은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다. 위투윈은 금융위원회의 'P2P대출가이드라인'을 준수합니다.
    <br>대출금리 : 연 19.9%이내 (연체금리 : 연 27.9%이내) 플랫폼 이용료 외 취급수수료 등 기타 부대비용은 없습니다.
    <br>중개수수료를 요구하거나 받는 행위는 불법입니다. 대출시 귀하의 신용등급이 하락할 수 있습니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다.
    <br>ⓒ Copyright We2Win Inc. All Rights Reserved.</p>
</section>