<section>
  <nav>
    <li routerLink="/use">이용 약관</li>
    <li routerLink="/privacy">개인정보 취급방침</li>
  </nav>

  <p id="info">
    <b>위투윈</b> 대표 : 오성호 ㅣ 사업자등록번호 : 637-43-00342 ㅣ 통신판매업 : 2018-서울마포-0744호 ㅣ 소재지 : 서울특별시 마포구 서강로 133, 946호(노고산동, 병우빌딩)
    <br>입금계좌: 우리 1002-754-644071 ㅣ Tel. 070-5143-8111 ㅣ Fax. 050-4199-7065 | E-mail. osh2826@we2win.co.kr</p>
  <p>
    <!-- <b>위투윈</b>은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다. 위투윈은 금융위원회의 'P2P대출가이드라인'을 준수합니다. -->
    <!-- <br>대출금리 : 연 19.9%이내 (연체금리 : 연 27.9%이내) 플랫폼 이용료 외 취급수수료 등 기타 부대비용은 없습니다. -->
    <!-- <br>중개수수료를 요구하거나 받는 행위는 불법입니다. 대출시 귀하의 신용등급이 하락할 수 있습니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다. -->
  </p>
  <p>ⓒ Copyright We2Win Inc. All Rights Reserved.</p>
</section>