:host {
  display: block;
  width: 100%;
  background: var(--footer-bg-color);
  padding: 3em 0;
  color: var(--footer-font-normal);
  cursor: default;
}

nav {
  height: calc(30px + 1em);
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

nav li {
  color: var(--footer-font-normal);
  font-size: 1em;
  margin-right: 3em;
  list-style: none;
  transition: color 0.5s;
  cursor: pointer;
}

nav li:hover {
  color: var(--footer-font-highlight);
}

p {
    font-size: 0.8em;
}

b {
    color: #ddd;
}
