<div class="namecard p" (click)="viewPopup();">
  <div>
    <img src="/assets/img/icon_employee.png" alt="프로필" />
    <h3>{{ record['age'] + ' ' + record['sex'] }}</h3>
  </div>
  <ul>
    <div>
      <h1>{{ record['name'] }}</h1>
      <h2>{{ record['career'] }}</h2>
    </div>
    <li>
      <h4>희망 지역</h4>
      <p>{{ record['location'] }}</p>
    </li>
    <li>
      <h4>희망 업무</h4>
      <p>{{ record['part'] }}</p>
    </li>
    <li>
      <h4>연락처</h4>
      <p class="hp">{{ record['cp'] }}</p>
    </li>
  </ul>
</div>

<app-popup>
  <h1>구직 상세보기</h1>
  <div>
    <li>
      <h2>성명</h2>
      <h3>{{ record['name'] }}</h3>
    </li>
    <li>
      <h2>희망 지역</h2>
      <h3>{{ record['location'] }}</h3>
    </li>
    <li>
      <h2>희망 업무</h2>
      <h3>{{ record['part'] }}</h3>
    </li>
  </div>

  <h4>구직 요건</h4>
  <div>
    <li>
      <h5>나이</h5>
      <p>{{ record['age'] }}</p>
    </li>
    <li>
      <h5>성별</h5>
      <p>{{ record['sex'] }}</p>
    </li>
    <li>
      <h5>이메일</h5>
      <p>{{ record['email'] }}</p>
    </li>
    <li>
      <h5>홈페이지</h5>
      <p>{{ record['homepage'] }}</p>
    </li>
    <li>
      <h5>집전화</h5>
      <p>{{ record['hp'] }}</p>
    </li>
    <li>
      <h5>핸드폰</h5>
      <p>{{ record['cp'] }}</p>
    </li>
    <li>
      <h5>가능 기간</h5>
      <p>{{ record['available-start'] + '-' + record['available-end'] }}</p>
    </li>
    <li>
      <h5>경력</h5>
      <p>{{ record['career'] }}</p>
    </li>
    <li>
      <h5>자격사항</h5>
      <p>{{ record['achievement'] }}명</p>
    </li>
    <li>
      <h5>주소</h5>
      <p>{{ record['address'] }}</p>
    </li>
    <li>
      <h5>인맥</h5>
      <p>{{ record['networking'] + '명' }}</p>
    </li>
    <li>
      <h5>자기소개</h5>
      <p [innerHtml]="record['intro']"></p>
    </li>
  </div>

  <h4>현장 정보</h4>
  <div>
    <li>
      <h5>현장명</h5>
      <p>{{ record['location-name'] }}</p>
    </li>
    <li>
      <h5>소재지</h5>
      <p>{{ record['location-address'] }}</p>
    </li>
    <li>
      <h5>담당자 정보</h5>
      <p>{{ record['manager-name'] }}</p>
    </li>
    <li>
      <h5>전화</h5>
      <p>{{ record['hp'] }}</p>
    </li>
    <li>
      <h5>핸드폰</h5>
      <p>{{ record['cp'] }}</p>
    </li>
  </div>
</app-popup>
