<div class="namecard p">
  <div>
    <img src="/assets/img/icon_employee.png" alt="프로필" />
    <h3>{{ record['age'] + ' ' + record['sex'] }}</h3>
  </div>
  <ul>
    <div>
      <h1>{{ record['name'] }}</h1>
      <h2>경력 {{ record['career'] }}</h2>
    </div>
    <li>
      <h4>현장명</h4>
      <p>{{ record['location'] }}</p>
    </li>
    <li>
      <h4>소재지</h4>
      <p>{{ record['address'] }}</p>
    </li>
    <li>
      <h4>연락처</h4>
      <p class="hp">{{ record['hp'] }}</p>
    </li>
  </ul>
</div>
