:host {
  flex-direction: column;
  flex: 1;
  background: #eee;
  padding: 1em;
}

#horizontalProfile {
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

#horizontalProfile>* {
  flex: 1;
}

#horizontalProfile li {
  display: block;
}

#horizontalProfile h2 {
  font-size: 0.9em;
}

#horizontalProfile span {
  display: inline-block;
  font-size: 1.4em;
}

