:host {
  flex-direction: column;
  flex: 1;
  background: #eee;
  padding: 1em;
}

#horizontalProfile {
  display: flex;
  flex-direction: column;
}

#horizontalProfile span {
  flex: 1;
}

#horizontalProfil h2 {
  font-size: 0.9em;
}
