<section>
  <article>
    <header>
      <h1>구직자 정보</h1>
      <app-select [type]="'회원 등급'"></app-select>
      <app-select [type]="'금액'"></app-select>
      <input type="text" placeholder="아이디 검색" />
    </header>
    <app-table [type]="'tracking'"></app-table>
  </article>
  <article>
    <header>
      <span id="title">월별 신청 그래프</span>
      <span id="date">2017. 12</span>
    </header>
    <div id="horizontaProfile">
      <img src="/assets/img/icon_profile.png"/>
      <li>
        <h2>20대 남성</h2>
        <span>김철수</span>
        <span>세무사</span>
      </li>
      <li>
        <h2>희망지역</h2>
        <span>서울, 경기</span>
      </li>
      <li>
        <h2>희망업무</h2>
        <span>오피스텔</span>
      </li>
    </div>
    <canvas id="monthly"></canvas>
  </article>
</section>
