<section>
  <div class="particle">
    <div id="titleBar">
      <h1>구직자 정보</h1>
      <app-select>회원등급</app-select>
      <app-select>금액</app-select>
      <input type="text" placeholder="아이디 검색" />
    </div>
    <div class="lTable">
      <div class="lTableColumn1"></div>
      <div class="lTableColumn2"></div>
      <div class="lTableRow">
        <div class="lTableHead">
          <input type="checkbox" />
        </div>
        <div class="lTableHead">아이디</div>
        <div class="lTableHead">이름</div>
        <div class="lTableHead">이메일</div>
        <div class="lTableHead">직종</div>
        <div class="lTableHead">금액</div>
        <div class="lTableHead">희망연봉</div>
      </div>
      <div class="lTableRow">
        <div class="lTableCell">
          <input type="checkbox" />
        </div>
        <div class="lTableCell">Christian_Red</div>
        <div class="lTableCell">이유정</div>
        <div class="lTableCell">Christian_red@hanmail.net</div>
        <div class="lTableCell">STANDARD</div>
        <div class="lTableCell">30,000</div>
        <div class="lTableCell">1억 5000만원</div>
      </div>
    </div>
  </div>
  <div class="particle">
    <div id="titleBar">
      <span id="title">월별 신청 그래프</span>
      <span id="date">2017. 12</span>
    </div>
  </div>
</section>