<section>
  <app-group>
    <h1>로그인</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
      <article>
        <div class="row">
          <div class="blank"></div>
          <label>아이디</label>
          <input name="ID" formControlName="ID" required>
          <div class="blank"></div>
        </div>
        <div class="row">
          <div class="blank"></div>
          <label>비밀번호</label>
          <input name="Password"
            type="password" formControlName="Password" required>
          <div class="blank"></div>
        </div>
      </article>
      <app-button [type]="'submit'">로그인</app-button>
    </form>
  </app-group>
</section>