:host /deep/ h1 {
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 1em;
}

.articleNarrow {
  margin: 60px 237px 0 237px;
  padding-bottom: 1em;
  border-bottom: 1px solid #d8d8d8;
}

.method {
  cursor: pointer;
}

li {
  cursor: pointer;
}

:host /deep/ label {
  padding-top: 7px;
  width: 100px;
}

:host /deep/ input {
  height: 50px !important;
}

:host /deep/ button {
  margin: 0;
  height: 50px !important;
}

:host /deep/ .row {
  margin: 0 auto 1em auto !important;
}

:host /deep/ .snsButtons {
  margin-top: -10px !important;
}

:host /deep/ #naverIdLogin {
  border-radius: 0;
  margin: 0;
  height: 50px;
  text-align: center;
  margin-right: 5px;
  /* background: #1fc900; */
  overflow: hidden;
}

:host /deep/ #naverIdLogin img {
  width: 222px;
  height: auto;
  overflow: hidden;
}

:host /deep/ #naverIdLogin img:hover {
  filter: brightness(0.9);
}

:host /deep/ #kakaoIdLogin {
  background: #ffeb00;
  height: 48px;
  overflow: hidden;
}

app-popup h1 {
  font-size: 18px;
  line-height: 70px;
  margin-bottom: 2em !important;
}

app-popup .row {
  padding: 3px;
  padding-top: 14px;
  margin: 0 !important;
}

app-popup .row + .row {
  padding-top: 3px;
}

app-popup .group {
  border-top: 1px solid #333;
  padding: 1em;
}

app-popup .group + .group {
  border-bottom: 1px solid #333;
}

app-popup .blank {
  flex: 1;
}

app-popup li {
  list-style: none;
}

app-popup h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  line-height: 50px;
  flex: none;
  width: 5em;
  text-align: center;
}

app-popup input {
  flex: 1;
}

app-popup app-button {
  flex: 1;
}