<app-header></app-header>
<section>
  <app-group>
    <h1>로그인</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <article>
        <fieldset>
          <h2>아이디</h2>
          <input name="ID">
        </fieldset>
        <fieldset>
          <h2>비밀번호</h2>
          <input name="Password"
            type="password">
        </fieldset>
      </article>
      <app-button [type]="'submit'">로그인</app-button>
    </form>
    
    <!-- <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <article [ngClass]="{ 'has-error': f.submitted && !ID.valid }">
        <h2>아이디</h2>
        <input type="text" name="ID" [(ngModel)]="model.ID" #ID="ngModel" placeholder="아이디" required/>
      </article>
      <article *ngIf="f.submitted && !ID.valid">
        <h2>아이디를 입력해 주세요.</h2>
      </article>
      <article [ngClass]="{ 'has-error': f.submitted && !Password.valid }">
        <h2>비밀번호</h2>
        <input type="password" name="Password" [(ngModel)]="model.Password" #Password="ngModel" placeholder="비밀번호" required/>
      </article>
      <article *ngIf="f.submitted && !Password.valid">
        <h2>비밀번호를 입력해 주세요.</h2>
      </article>
      <app-button>로그인</app-button>
    </form> -->
  </app-group>
</section>
<app-footer></app-footer>