<section>
  <app-group [@fadeInAnimation]="">
    <h1>로그인</h1>
    <article class="articleNarrow">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" novalidate>
        <div class="row">
          <label>아이디</label>
          <input name="u-id" formControlName="u-id" required>
        </div>
        <div class="row">
          <label>비밀번호</label>
          <input name="password" type="password" formControlName="password" required>
        </div>
        <div class="row">
          <label> </label>
          <li (click)="findInfo()">아이디/비밀번호 잊으셨나요?</li>
        </div>
        <div class="row">
          <app-button [type]="'submit'">로그인</app-button>
        </div>
        <div class="row snsButtons">
          <div id="naverIdLogin"></div>
          <div id="kakaoIdLogin"></div>
        </div>
      </form>
    </article>
  </app-group>
</section>

<app-popup>
  <h1>아이디/비밀번호 찾기</h1>
  <form [formGroup]="findIdForm" (ngSubmit)="onSubmitId()" novalidate>
    <div class="group">
      <div class="row">
        <p>네이버 / 카카오로 회원가입하신 회원님은 해당 사이트에서 회원정보를 수정하시기 바랍니다.</p>
      </div>
      <div class="row">
        <h2>성명</h2>
        <input formControlName="name" type="text">
        <h2></h2>
        <div class="blank"></div>
      </div>
      <div class="row">
        <h2>이메일</h2>
        <input formControlName="email" type="text">
      </div>
      <div class="row">
        <app-button>아이디 찾기</app-button>
      </div>
    </div>
  </form>
  <form [formGroup]="findPasswordForm" (ngSubmit)="onSubmitPassword()" novalidate>
    <div class="group">
      <div class="row">
        <h2>성명</h2>
        <input formControlName="name" type="text">
        <h2>아이디</h2>
        <input formControlName="u-id" type="text">
      </div>
      <div class="row">
        <h2>이메일</h2>
        <input formControlName="email" type="text">
      </div>
      <div class="row">
        <app-button>비밀번호 찾기</app-button>
      </div>
    </div>
  </form>

</app-popup>
