<div class="card" [ngClass]="record['rank']" (click)="viewPopup()">
  <div id="levelBar">{{ record['level'] }}</div>
  <div id="imgFrame">
    <img [src]="imageUrl" alt="부동산 사진">
  </div>
  <div id="buttonBar">
    <span id="bookmark" [ngClass]="{'selected': isBookmarked}" (click)="bookmark(); $event.stopPropagation();"></span>
    <span id="facebook" (click)="fbShare()"></span>
  </div>
  <h3>법률 및 정책</h3>
  <h2>{{ record['title'] }}</h2>
</div>

<app-popup>
  <pdf-viewer [src]="fileUrl" [render-text]="true" [original-size]="false"></pdf-viewer>
</app-popup>