:host {
  display: inline-block;
  width: 216px;
  margin: 0.25em;
}

button {
  display: block;
  width: 100%;
  background: #232323;
  color: #ccc;
  /* background: var(--main-bg-color); */
  /* color: var(--main-font-normal-dark); */
  flex: none;
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  outline: none;
  border: none;
  cursor: default;
}

button:hover, button:focus {
  background: var(--main-bg-color-highlight);
}