<img id="logo" src="/assets/img/logo.png" alt="Logo" />
<div id="managerInfo">
  <img src="/assets/img/icon_manager.png" alt="Profile image" />
  <p>ManagerNoName</p>
</div>
<div id="buttonBar">
  <img src="/assets/img/icon_settings.png" alt="Settings" />
  <img src="/assets/img/icon_alert.png" alt="Alerts" />
</div>
<nav>
  <li routerLink="/management/dashboard">대쉬보드</li>
  <li routerLink="/management/account">계정관리</li>
  <li routerLink="/management/contents">컨텐츠관리</li>
  <li routerLink="/management/analysis">분석관리</li>
  <li routerLink="/management/tracking">트래킹</li>
</nav>
<div id="versionInfo">
  Version 0.1
</div>