<img id="logo" src="/assets/img/logo.png" routerLink="/" alt="Logo" />
<div id="managerInfo">
  <img src="/assets/img/icon_manager.png" alt="Profile image" />
  <p>ManagerNoName</p>
</div>
<div id="buttonBar">
  <li routerLink="/mng/settings"><img src="/assets/img/icon_settings.png" alt="Settings" /></li>
  <li routerLink="/mng/notification"><img src="/assets/img/icon_alert.png" alt="Alerts" /></li>
</div>
<nav>
  <ng-container *ngFor="let menu of navTree">
    <li class="menu" routerLink="{{ '/mng/' + menu.title }}">{{ menu.description }}
      <div (click)="$event.stopPropagation();">
        <li class="submenu" *ngFor="let sub of menu.children" routerLink="{{ '/mng/' + menu.title + '/' + sub.title }}">{{ sub.description }}</li>
      </div>
    </li>

  </ng-container>
</nav>
<div id="versionInfo">
  Version 0.1
</div>
