<div id="header">
  <section id="titleBar">
    <h1>컨텐츠 관리</h1>
  </section>
</div>

<section>
  <article>
    <header>
      <app-select [type]="'카테고리'" (change)="changeCtype($event)"></app-select>
      <app-select [type]="'컨텐츠 등급'" (change)="changeLevel($event)"></app-select>
      <input class="search" type="text" placeholder="컨텐츠 검색" (click)="changeQuery($event)" (keypress)="changeQuery($event)" (change)="changeQuery($event)"/>
    </header>
    <app-table [type]="'analysisContents'">
      <ng-container appMypost></ng-container>
    </app-table>
  </article>
  <div class="wrapper">
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 클릭</span>
        <span id="date">2017.12</span>
      </header>
      <div class="subtitle">사용자 레벨</div>
      <app-chart class="shorter" [type]="'analysisContents'" [num]="'0'" [data]="chartData['c-click'][0]"></app-chart>
      <div class="subtitle">금액</div>
      <app-chart [type]="'analysisContents'" [num]="'1'" [data]="chartData['c-click'][1]"></app-chart>
    </article>
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 스크랩</span>
        <span id="date">2017.12</span>
      </header>
      <div class="subtitle">사용자 레벨</div>
      <app-chart class="shorter" [type]="'analysisContents'" [num]="'2'" [data]="chartData['c-scrap'][0]"></app-chart>
      <div class="subtitle">금액</div>
      <app-chart [type]="'analysisContents'" [num]="'3'" [data]="chartData['c-scrap'][1]"></app-chart>
    </article>
  </div>
  <div class="wrapper">
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 댓글</span>
        <span id="date">2017.12</span>
      </header>
      <div class="subtitle">사용자 레벨</div>
      <app-chart class="shorter" [type]="'analysisContents'" [num]="'4'" [data]="chartData['c-comments'][0]"></app-chart>
      <div class="subtitle">금액</div>
      <app-chart [type]="'analysisContents'" [num]="'5'" [data]="chartData['c-comments'][1]"></app-chart>
    </article>
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 공유</span>
        <span id="date">2017.12</span>
      </header>
      <div class="subtitle">사용자 레벨</div>
      <app-chart class="shorter" [type]="'analysisContents'" [num]="'6'" [data]="chartData['c-sns'][0]"></app-chart>
      <div class="subtitle">금액</div>
      <app-chart [type]="'analysisContents'" [num]="'7'" [data]="chartData['c-sns'][0]"></app-chart>
    </article>
  </div>
</section>