<div id="header">
  <section id="titleBar">
    <h1>사용자 관리</h1>
  </section>
</div>

<section>
  <article>
    <header>
      <app-select [type]="'회원 등급'" (change)="changeLevel($event)"></app-select>
      <app-select [type]="'금액'" (change)="changeAmount($event)"></app-select>
      <input class="search" type="text" placeholder="아이디 검색" (change)="changeQuery($event)"/>
    </header>
    <app-table [type]="'analysisUser'">
      <ng-container appMypost></ng-container>
    </app-table>
  </article>
  <div class="wrapper">
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 클릭</span>
        <span id="date">{{ date.getFullYear() + '. ' + (date.getMonth()+1) }}</span>
      </header>
      <app-chart [type]="'analysisUser'" [num]="'0'"></app-chart>
      <app-chart [type]="'analysisUser'" [num]="'1'"></app-chart>
    </article>
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 스크랩</span>
        <span id="date">{{ date.getFullYear() + '. ' + (date.getMonth()+1) }}</span>
      </header>
      <app-chart [type]="'analysisUser'" [num]="'2'"></app-chart>
      <app-chart [type]="'analysisUser'" [num]="'3'"></app-chart>
    </article>
  </div>
  <div class="wrapper">
    <article>
      <header>
        <span id="title">인기 컨텐츠 | 댓글</span>
        <span id="date">{{ date.getFullYear() + '. ' + (date.getMonth()+1) }}</span>
      </header>
      <app-chart [type]="'analysisUser'" [num]="'4'"></app-chart>
      <app-chart [type]="'analysisUser'" [num]="'5'"></app-chart>
    </article>
    <article>
      <header>
        <span id="title">인기 오프라인 모임 신청 리스트</span>
        <span id="date">{{ date.getFullYear() + '. ' + (date.getMonth()+1) }}</span>
      </header>
      <li>"이주의 핫한 역세권은?"</li>
      <li>"청담동 오피스텔"</li>
      <li>"이주의 핫한 역세권은?"</li>
      <li>"청담동 오피스텔"</li>
      <li>"오프라인 모임 제목"</li>
    </article>
  </div>
</section>