<section>
  <div class="wrapper">
    <div class="particle">
      <div id="titleBar">
        <span id="title">회원 정보</span>
        <span id="date">2017. 12</span>
      </div>
      <canvas id="memberInfo"></canvas>
    </div>
    <div class="particle">
      <div id="titleBar">
        <span id="title">컨텐츠 구성</span>
        <span id="date">2017. 12</span>
      </div>
      <canvas id="contentsInfo"></canvas>
    </div>
  </div>
  <div class="particle">
    <div id="titleBar">
      <span id="title">사용자 활동</span>
      <span id="date">2017. 12</span>
    </div>
    <canvas id="userActivity"></canvas>
  </div>
</section>
