<app-horizontal-list>
  <div class="c1">
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
  </div>
  <div class="c2">
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
    <app-meeting-card></app-meeting-card>
  </div>
</app-horizontal-list>
