<app-ranking-list [toptitle]="'분양 현장'">
  <!-- <app-info-card class="first" [level]="'platinum'"></app-info-card>
  <app-info-card class="second" [level]="'premium'"></app-info-card>
  <app-info-card class="third" [level]="'standard'"></app-info-card> -->
</app-ranking-list>
<app-ranking-list [toptitle]="'리포트'">
  <!-- <app-info-card class="first" [level]="'platinum'"></app-info-card>
  <app-info-card class="second" [level]="'premium'"></app-info-card>
  <app-info-card class="third" [level]="'standard'"></app-info-card> -->
</app-ranking-list>
<app-ranking-list [toptitle]="'부동산뉴스'">
  <!-- <app-info-card class="first" [level]="'platinum'"></app-info-card>
  <app-info-card class="second" [level]="'premium'"></app-info-card>
  <app-info-card class="third" [level]="'standard'"></app-info-card> -->
</app-ranking-list>
<app-ranking-list [toptitle]="'법률 및 정책'">
  <!-- <app-info-card class="first" [level]="'platinum'"></app-info-card>
  <app-info-card class="second" [level]="'premium'"></app-info-card>
  <app-info-card class="third" [level]="'standard'"></app-info-card> -->
</app-ranking-list>
