:host {
  flex-direction: column;
  flex: 1;
  background: #eee;
  padding: 1em;
}

.spanTitle {
  background: #ddd;
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  font-size: 0.9em;
}

h4 b {
  font-size: 0.6em;
  color: #666;
}

.size {
  border-left: none;
  border-bottom: none;
}

.amount {
  border-left: none;
}

.subTitleBar {
  display: block;
  min-width: 100%;
}

#upload input {
  margin: 0 0 0.5em 0;
}

#upload app-button {
  margin: 0 0 0.5em 0.5em;
}