<section>
  <article>
    <header>
      <h1>카테고리</h1>
      <app-select [type]="'상위 카테고리'" #top (change)="onTopChange()"></app-select>
      <app-select [type]="'하위 카테고리'" #sub [isSub]="true" [topCategory]="top.selected" (change)="onSubChange($event)"></app-select>
    </header>

    <ng-container [ngSwitch]="sub.selected">
      <!-- <ng-container *ngSwitchCase="'하위 카테고리'">
        <li>
          <h2>카테고리를 선택해주세요!</h2>
        </li>
      </ng-container> -->
      <form [formGroup]="infoForm" id="info" *ngSwitchCase="sub.selected === '' || '리포트'" (ngSubmit)="onSubmit()" enctype="multipart/form-data"
        novalidate>
        <li class="form-group">
          <h2>컨텐츠 등급</h2>
          <app-select #level [type]="'컨텐츠 등급'"></app-select>
        </li>
        <li class="form-group">
          <h2>컨텐츠 제목</h2>
          <input class="form-control" formControlName="I-title" type="text" placeholder="제목을 입력하세요" />
        </li>
        <li class="form-group">
          <h2>요약 정보</h2>
          <textarea class="form-control" formControlName="I-summary" placeholder="요약 정보를 입력하세요"></textarea>
        </li>
        <li>
          <h2>분양 오픈일</h2>
          <input type="date" formControlName="I-open-start" placeholder="이름">
          <input type="date" formControlName="I-open-end" placeholder="이름">
        </li>
        <li>
          <h2>분양가</h2>
          <input type="number" lang='en-150' formControlName="I-ammount" step="10000">
          <h3>백만원</h3>
          <span class="blank"></span>
        </li>
        <li>
          <h2>담당자 정보</h2>
          <input type="text" formControlName="I-manager-name" placeholder="이름">
          <input type="text" formControlName="I-manager-contact" placeholder="연락처">
          <span class="blank"></span>
        </li>
        <li>
          <h2>현장 시세</h2>
          <div class="container">
            <div class="wrapper">
              <h4>현재 시세<br><b>(천만원)</b></h4>
              <span class="listContainer">
                <li>
                  <span class="spanTitle">기간</span>
                  <input type="text" class="box" formControlName="I-current-size1" placeholder="기간">
                  <input type="text" class="box" formControlName="I-current-size2" placeholder="기간">
                  <input type="text" class="box" formControlName="I-current-size3" placeholder="기간">
                  <input type="text" class="box" formControlName="I-current-size4" placeholder="기간">
                  <input type="text" class="box" formControlName="I-current-size5" placeholder="기간">
                </li>
                <li>
                  <span class="spanTitle">액수</span>
                  <input type="number" class="box" formControlName="I-current-amount1" placeholder="액수">
                  <input type="number" class="box" formControlName="I-current-amount2" placeholder="액수">
                  <input type="number" class="box" formControlName="I-current-amount3" placeholder="액수">
                  <input type="number" class="box" formControlName="I-current-amount4" placeholder="액수">
                  <input type="number" class="box" formControlName="I-current-amount5" placeholder="액수">
                </li>
              </span>
            </div>
            <div class="wrapper">
              <h4>주위 시세<br><b>(천만원)</b></h4>
              <span class="listContainer">
                <li>
                  <span class="spanTitle">기간</span>
                  <input type="text" class="box" formControlName="I-around-size1" placeholder="기간">
                  <input type="text" class="box" formControlName="I-around-size2" placeholder="기간">
                  <input type="text" class="box" formControlName="I-around-size3" placeholder="기간">
                  <input type="text" class="box" formControlName="I-around-size4" placeholder="기간">
                  <input type="text" class="box" formControlName="I-around-size5" placeholder="기간">
                </li>
                <li>
                  <span class="spanTitle">액수</span>
                  <input type="number" class="box" formControlName="I-around-amount1" placeholder="액수">
                  <input type="number" class="box" formControlName="I-around-amount2" placeholder="액수">
                  <input type="number" class="box" formControlName="I-around-amount3" placeholder="액수">
                  <input type="number" class="box" formControlName="I-around-amount4" placeholder="액수">
                  <input type="number" class="box" formControlName="I-around-amount5" placeholder="액수">
                </li>
              </span>
            </div>
          </div>
        </li>
        <li>
          <h2>현장 리포트</h2>
          <div [FroalaEditor]></div>
          <!-- <textarea [FroalaEditor] placeholder="상세 정보를 입력하세요" formControlName="I-report"></textarea> -->
        </li>
        <li>
          <h2>현장 사진</h2>
          <!-- <input type="file" (change)="onFileChange($event, 'I-image')" accept="image/*" #imageInput> -->
          <input type="file" (click)="imagePopup.showPopup(); $event.preventDefault(); ">
          <!-- <app-button (click)="imageInput.click()">사진 등록</app-button> -->
          <app-button (click)="imagePopup.showPopup();">사진 등록</app-button>
          <span class="blank"></span>
        </li>
        <!-- <li>
          <h2>세부 사진</h2>
          <input type="file" (change)="onFileChange($event, 'I-subimage1')" accept="image/*">
          <input type="file" (change)="onFileChange($event, 'I-subimage2')" accept="image/*">
          <input type="file" (change)="onFileChange($event, 'I-subimage3')" accept="image/*">
        </li> -->

        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

      <app-popup #imagePopup>
        <form [formGroup]="uploadForm" id="upload" action="/api/v1/upload" method="post">
          <li>
            <h2>현장 사진</h2>
            <input type="file" name="cin" id="cin" (change)="fileChangeEvent($event)" placeholder="업로드 해주세요." multiple accept="image/*"
              multiple #imageInput>
            <app-button (click)="upload()">사진 등록</app-button>
          </li>
          <li>
            <h2>세부 사진</h2>
            <!-- <input type="file" name="single1" ng2FileSelect [uploader]="uploader" accept="image/*" #imageInput> -->
            <!-- <input type="file" name="single2" ng2FileSelect [uploader]="uploader" accept="image/*" #imageInput> -->
            <!-- <input type="file" name="single3" ng2FileSelect [uploader]="uploader" accept="image/*" #imageInput> -->
          </li>
          <li>
            <h2></h2>
            <!-- <input type="file" name="single4" ng2FileSelect [uploader]="uploader" accept="image/*" #imageInput> -->
            <!-- <input type="file" name="single5" ng2FileSelect [uploader]="uploader" accept="image/*" #imageInput> -->
            <!-- <app-button (click)="uploader.uploadAll()">사진 등록</app-button> -->
          </li>
        </form>
      </app-popup>

      <form [formGroup]="siteForm" id="site" *ngIf="top.selected === '분양 현장' && sub.selected !== '하위 카테고리'" (ngSubmit)="onSubmit()"
        novalidate>
        <li class="form-group">
          <input class="form-control" formControlName="S-type" type="hidden" />
        </li>
        <li class="form-group">
          <h2>제목</h2>
          <input class="form-control" formControlName="S-title" type="text" placeholder="제목을 입력하세요" />
        </li>
        <li class="form-group">
          <h2>요약 정보</h2>
          <textarea class="form-control" formControlName="S-summary" placeholder="요약 정보를 입력하세요"></textarea>
        </li>
        <li>
          <h2>분양 오픈일</h2>
          <input type="date" formControlName="S-open-start" placeholder="이름">
          <input type="date" formControlName="S-open-end" placeholder="이름">
          <app-button>일정 등록</app-button>
        </li>
        <li>
          <h2>분양가</h2>
          <input type="number" formControlName="S-ammount" step="10000">
          <h3>원</h3>
          <span class="blank"></span>
        </li>
        <li>
          <h2>담당자 정보</h2>
          <input type="text" formControlName="S-manager-name" placeholder="이름">
          <input type="text" formControlName="S-manager-contact" placeholder="연락처">
          <span class="blank"></span>
        </li>
        <li>
          <h2>현장 시세</h2>
          <div class="container">
            <div class="wrapper">
              <h4>#1 현재 시세</h4>
              <span class="listContainer">
                <input type="text" formControlName="S-current-size">
                <input type="text" formControlName="S-current-amount">
              </span>
            </div>
            <div class="wrapper">
              <h4>#2 주위 시세</h4>
              <span class="listContainer">
                <input type="text" formControlName="S-around-size">
                <input type="text" formControlName="S-around-amount">
              </span>
            </div>
          </div>
        </li>
        <li>
          <h2>현장 리포트</h2>
          <textarea placeholder="상세 정보를 입력하세요" formControlName="S-report"></textarea>
        </li>
        <li>
          <h2>현장 사진</h2>
          <input type="file" (click)="imagePopup.showPopup(); $event.preventDefault(); ">
          <app-button (click)="imagePopup.showPopup();">사진 등록</app-button>
          <span class="blank"></span>
        </li>

        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

      <form [formGroup]="newsForm" id="news" *ngSwitchCase="'부동산 뉴스'" (ngSubmit)="onSubmit()" novalidate>
        <li>
          <h2>등급</h2>
          <app-select [type]="'회원 등급'"></app-select>
        </li>
        <li>
          <h2>컨텐츠 제목</h2>
          <input type="text" formControlName="N-title" placeholder="제목을 입력하세요" />
        </li>
        <li>
          <h2>사진</h2>
          <input type="file" (click)="imagePopup.showPopup(); $event.preventDefault(); ">
          <app-button (click)="imagePopup.showPopup();">사진 등록</app-button>
          <span class="blank"></span>
        </li>
        <li>
          <h2>뉴스 제목</h2>
          <input type="text" formControlName="N-sub-title" placeholder="뉴스 제목을 입력하세요">
        </li>
        <li>
          <h2>뉴스 상세내용</h2>
          <!-- <textarea type="text" formControlName="N-sub-description" placeholder="뉴스 상세내용을 입력하세요" [FroalaEditor]> -->
          <div [FroalaEditor]></div>
        </li>
        <li>
          <h2>뉴스 분석제목</h2>
          <input type="text" formControlName="N-analysis-title" placeholder="뉴스 분석제목을 입력하세요">
        </li>
        <li>
          <h2>뉴스 분석내용</h2>
          <div [FroalaEditor]></div>
          <!-- <teaxtarea type="text" formControlName="N-analysis-description" placeholder="뉴스 분석내용을 입력하세요"> -->
        </li>
        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

      <form [formGroup]="lawForm" id="law" *ngSwitchCase="'법률 및 정책'" (ngSubmit)="onSubmit()" novalidate>
        <li>
          <h2>등급</h2>
          <app-select [type]="'회원 등급'"></app-select>
        </li>
        <li>
          <h2>제목</h2>
          <input type="text" formControlName="L-title" placeholder="제목을 입력하세요" />
        </li>
        <li>
          <h2>요약정보</h2>
          <textarea formControlName="L-summary" placeholder="요약 정보를 입력하세요"></textarea>
        </li>
        <li>
          <h2>URL</h2>
          <input type="text" formControlName="L-url" placeholder="뉴스 상세내용을 입력하세요">
        </li>
        <li>
          <h2>첨부파일</h2>
          <input type="file" (click)="imagePopup.showPopup(); $event.preventDefault(); ">
          <app-button (click)="imagePopup.showPopup();">파일 업로드</app-button>
          <span class="blank"></span>
        </li>
        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

      <form [formGroup]="meetingForm" id="meeting" *ngSwitchCase="'오프라인 모임'" (ngSubmit)="onSubmit()" novalidate>
        <li>
          <h2>등급</h2>
          <app-select [type]="'회원 등급'"></app-select>
        </li>
        <li>
          <h2>제목</h2>
          <input type="text" formControlName="M-title" placeholder="제목을 입력하세요" />
        </li>
        <li>
          <h2>요약정보</h2>
          <textarea formControlName="M-summary" placeholder="요약 정보를 입력하세요"></textarea>
        </li>
        <li>
          <h2>주최측</h2>
          <input type="text" formControlName="M-host" placeholder="주최측을 입력하세요">
        </li>
        <li>
          <h2>신청기간</h2>
          <input type="date" formControlName="M-apply-start" placeholder="시작">
          <input type="date" formControlName="M-apply-end" placeholder="종료">
          <app-button>일정 등록</app-button>
        </li>
        <li>
          <h2>주최일시</h2>
          <input type="date" formControlName="M-duration-start" placeholder="시작">
          <input type="date" formControlName="M-duration-end" placeholder="종료">
          <app-button>일정 등록</app-button>
        </li>
        <li>
          <h2>모집정원</h2>
          <input type="number" formControlName="M-personnel" placeholder="정원">
        </li>
        <li>
          <h2>참가비</h2>
          <input type="number" step="1000" formControlName="M-cost" placeholder="참가비">
        </li>
        <li>
          <h2>세부사항</h2>
          <input type="text" formControlName="M-detail" placeholder="세부사항을 입력하세요">
        </li>
        <li>
          <h2>준비물</h2>
          <input type="text" formControlName="M-material" placeholder="준비물을 입력하세요">
        </li>
        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

      <form [formGroup]="employerForm" id="employer" *ngSwitchCase="'구인'" (ngSubmit)="onSubmit()" novalidate>
        <li>
          <h2>업무</h2>
          <input type="text" formControlName="R-part-name" placeholder="업무명" />
        </li>
        <li>
          <h2>업무내용</h2>
          <textarea formControlName="R-part-description" placeholder="업무내용"></textarea>
        </li>
        <li>
          <h2>나이</h2>
          <input type="number" formControlName="R-age-start" placeholder="나이대 시작">
          <input type="number" formControlName="R-age-end" placeholder="나이대 종료">
        </li>
        <li>
          <h2>응시요건</h2>
          <input type="text" formControlName="R-requirement" placeholder="요건을 입력하세요." />
        </li>
        <li>
          <h2>모집인원</h2>
          <input type="number" formControlName="R-personnel" placeholder="숫자만 입력" />
        </li>
        <li>
          <h2>채용방법</h2>
          <input type="text" formControlName="R-method" placeholder="채용 방법을 입력하세요.">
        </li>
        <li>
          <h2>모집기간</h2>
          <input type="date" formControlName="R-apply-start" placeholder="모집기간 시작일">
          <input type="date" formControlName="R-apply-end" placeholder="모집기간 종료일">
        </li>
        <li>
          <h2>상세요건</h2>
          <input type="text" formControlName="R-detail" placeholder="상세 요건을 입력하세요.">
        </li>
        <li>
          <h2>현장명</h2>
          <input type="text" formControlName="R-location-name" placeholder="현장명을 입력하세요.">
        </li>
        <li>
          <h2>소재지</h2>
          <input type="text" formControlName="R-location-address" placeholder="소재지를 입력하세요.">
        </li>
        <li>
          <h2>담당자 정보</h2>
          <input type="text" formControlName="R-manager-name" placeholder="담당자 이름">
          <input type="text" formControlName="R-manager-contact" placeholder="담당자 연락처">
        </li>
        <li>
          <h2>전화</h2>
          <input type="text" formControlName="R-HP" placeholder="전화번호">
        </li>
        <li>
          <h2>핸드폰</h2>
          <input type="text" formControlName="R-CP" placeholder="핸드폰 번호">
        </li>
        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

      <form [formGroup]="employeeForm" id="employee" *ngSwitchCase="'구직'" (ngSubmit)="onSubmit()" novalidate>
        <li>
          <h2>성명</h2>
          <input type="text" formControlName="E-name" placeholder="성명을 입력하세요" />
        </li>
        <li>
          <h2>성별</h2>
          <textarea formControlName="E-sex" placeholder="성별을 입력하세요"></textarea>
        </li>
        <li>
          <h2>나이</h2>
          <input type="number" formControlName="E-age-start" placeholder="나이대 시작">
          <input type="number" formControlName="E-age-end" placeholder="나이대 종료">
        </li>
        <li>
          <h2>전화</h2>
          <input type="text" formControlName="E-HP" placeholder="전화번호">
        </li>
        <li>
          <h2>핸드폰</h2>
          <input type="text" formControlName="E-CP" placeholder="핸드폰 번호">
        </li>
        <li>
          <h2>이메일</h2>
          <input type="text" formControlName="E-email" placeholder="이메일">
        </li>
        <li>
          <h2>홈페이지</h2>
          <input type="text" formControlName="E-homepage" placeholder="홈페이지">
        </li>
        <li>
          <h2>주소</h2>
          <input type="text" formControlName="E-address" placeholder="주소">
        </li>
        <li>
          <h2>희망업무</h2>
          <input type="text" formControlName="E-part" placeholder="희망업무">
        </li>
        <li>
          <h2>희망지역</h2>
          <input type="text" formControlName="E-location" placeholder="희망지역">
        </li>
        <li>
          <h2>경력</h2>
          <input type="text" formControlName="E-career" placeholder="경력">
        </li>
        <li>
          <h2>자격사항</h2>
          <input type="text" formControlName="E-achievement" placeholder="자격사항">
        </li>
        <li>
          <h2>인맥</h2>
          <input type="text" formControlName="E-networking" placeholder="인맥">
        </li>
        <li>
          <h2>근무가능일</h2>
          <input type="date" formControlName="E-available-start" placeholder="시작">
          <input type="date" formControlName="E-available-end" placeholder="종료">
          <app-button>일정 등록</app-button>
        </li>
        <li>
          <h2>자기소개</h2>
          <input type="text" formControlName="E-intro" placeholder="자기소개를 해주세요.">
        </li>
        <li>
          <h2>기타</h2>
          <input type="text" formControlName="E-etc" placeholder="기타사항을 입력해주세요.">
        </li>
        <li class="submitBar">
          <button [type]="'submit'">등록하기</button>
          <button>미리보기</button>
        </li>
      </form>

    </ng-container>

  </article>
</section>
