<section>
  <div id="top">
    <div id="imgNav">
      <img src="/assets/img/meeting_sample.png" />
    </div>
    <div>
      <h1>SOUNDS OF KOREA <br> INSIDE SOUL</h1>
      <p>해당 상품은 지난 6월 대출 직후 건축 인허가 관련 변경 사유가 발생하여 재신청을 진행하였습니다만, 포천시 조례 변경 등의 사유와 맞물려 이번 12월에야 인허가 승인이 완료되었습니다. 이번 12월에야 인허가
        승인이 완료되었습니다. 이번 12월에야 인허가 승인이 완료되었습니다.</p>
      <li>
        <h2>주최측</h2>
        <h3>KOCCA</h3>
      </li>
      <li>
        <h2>신청기간</h2>
        <h3>2017. 12. 09. ~ 207. 12. 31.</h3>
      </li>
      <li>
        <h2>주최날짜</h2>
        <h3>2017. 12. 31.</h3>
      </li>
      <li>
        <h2>장소</h2>
        <h3>콘텐츠시연장 오후 2:00 / 5:00</h3>
      </li>
      <li>
        <h2>모집정원</h2>
        <h3>타임별 100명 ( 현재 35% 신청완료 )</h3>
      </li>
      <li>
        <h2>참가비</h2>
        <h3>19,000원</h3>
      </li>
      <app-button>모임 참가하기</app-button>
    </div>
  </div>
  <div class="part">
    <h2>세부사항</h2>
    <p class="description">해당 상품은 지난 6월 대출 직후 건축 인허가 관련 변경 사유가 발생하여 재신청을 진행하였습니다만, 포천시 조례 변경 등의 사유와 맞물려 이번 12월에야 인허가 승인이 완료되었습니다. 이번 12월에야 인허가 승인이
      완료되었습니다. 이번 12월에야 인허가 승인이 완료되었습니다.</p>
  </div>
  <div class="part">
    <h2>준비물</h2>
    <p class="description">해당 상품은 지난 6월 대출 직후 건축 인허가 관련 변경 사유가 발생하여 재신청을 진행하였습니다만, 포천시 조례 변경 등의 사유와 맞물려 이번 12월에야 인허가 승인이 완료되었습니다. 이번 12월에야 인허가 승인이
      완료되었습니다. 이번 12월에야 인허가 승인이 완료되었습니다.</p>
  </div>
  <div class="part">
    <h2 id="review">모임 후기</h2>
    <div class="description">
      <li>
        <h3>Amberyi_0523</h3>
        <p>해당 상품은 지난 6월 대출 직후 건축 인허가 관련 변경 사유가 발생하여 재신청을 진행하였습니다만, 포천시 조례 변경 등의 사유와 맞물려 이번 12월에야 인허가 승인이 완료되었습니다.</p>
      </li>
      <li>
        <h3>Amberyi_0523</h3>
        <p>해당 상품은 지난 6월 대출 직후 건축 인허가</p>
      </li>
      <li id="submit">
        <h3>Amberyi_0523</h3>
        <textarea></textarea>
        <app-button>댓글 입력</app-button>
      </li>
    </div>
  </div>
  <div class="part">
    <h2>관련 오프라인 모임</h2>
    <div class="description cardList">
      <app-meeting-card></app-meeting-card>
      <app-meeting-card></app-meeting-card>
      <app-meeting-card></app-meeting-card>
    </div>
  </div>
</section>
