@keyframes showDetail {
  from {
    opacity: 0;
    margin-top: -3em;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.loader {
  display: none;
  font-size: 1.5em;
  padding: 25vh 0;
  text-align: center;
  color: #666;
}

.loader.loading {
  display: block;
}

.hasData {
  opacity: 1;
  animation: showDetail 1s;
  animation-fill-mode: forwards;
}

section {
  opacity: 0;
}

#top {
  display: flex;
  padding: 0 0 2em 0;
}

#top>div {
  flex: 1 1 auto;
}

#top #imgNav {
  margin-right: 2em;
}

#top #imgNav img {
  width: 358px;
  height: 507px;
}

#top h1 {
  font-size: 28px;
  line-height: 100%;
  margin-bottom: 30px;
}

#top p {
  font-size: 14px;
  font-weight: 300;
  height: 70px;
  margin-bottom: 30px;
}

#top li {
  font-size: 14px;
  margin: 5px 0;
  display: flex;
}

#top li.buttonBar {
  margin: 10px 0;
}

#top li h2 {
  width: 90px;
  font-size: 0.9em;
  margin: 0;
  line-height: 200%;
}

#top li h3 {
  flex: 1;
  font-size: 0.9em;
  margin: 0;
  line-height: 200%;
}

#top li h3.price {
  font-size: 28px;
  font-weight: 300;
  color: #d3000d;
}

#top app-button {
  text-align: left;
  display: block;
  width: 216px;
  height: 50px;
  margin: 0;
}

#optionBar {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

#optionBar span {
  flex: none;
  height: 15px;
  padding: 0 21px;
  transition: transform 0.5s;
  transform: scale(1);
  cursor: pointer;
}

#optionBar span:hover {
  transform: scale(1.5);
}

#optionBar #schedule {
  width: 11px;
  background-image: url('/assets/img/icon_schedule_black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#optionBar #schedule.selected {
  background: url('/assets/img/icon_schedule_black_selected.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#optionBar #facebook {
  width: 7px;
  background-image: url('/assets/img/icon_facebook_black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.editorContainer {
  overflow: hidden;
}

.editorContainer p {
  min-height: 8em;
}

.editorContainer span {
  font-size: 14px;
  font-weight: 300;
}

.editorContainer:after {
  content: '';
  display: block;
  position: relative;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.shower img {
  width: 517px;
  height: 310px;
}

#imgNavigator img {
  opacity: 0.5;
  transition: opacity 0.5s;
  border: 2px solid transparent;
}

#imgNavigator img.show {
  opacity: 1;
  border: 2px solid black;
}

.comments .row {
  padding: 0 0 15px 0;
}

.comments .row+.row {
  padding: 15px 0;
  border-top: 1px solid #ccc;
}

.comments label {
  font-weight: 400;
  font-size: 14px;
}

.comments p,
.comments span {
  font-weight: 300;
  font-size: 14px;
}

.comments .commentForm {
  flex: 1;
  display: flex;
}

.comments .commentInput {
  flex: 3;
  min-height: 60px;
  height: 60px;
  padding: 10px;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  resize: none;
}

.comments app-button /deep/ button {
  height: 60px;
  line-height: 100%;
  font-size: 14px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex /deep/ app-site-card {
  width: 227px;
  flex: none;
}

app-popup /deep/ h1 {
  padding: 0;
  margin: 1em 0 2em 0;
}

app-popup /deep/ span,
app-popup /deep/ p {
  font-size: 14px;
  font-weight: 300;
}

app-popup /deep/ .row+.row {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

