:host {
  display: block;
  padding: 0;
}

button {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  outline: none;
  border: none;
  text-align: left;
}

.naver {
  background: #1EC800;
  color: white;
}

.naver:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1.1em;
  background: url('../../../../assets/img/icon_naver.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0.9em 0.9em;
  margin-left: 10%;
  margin-right: 10%;
}

.naver:hover, .naver:focus {
  background: #1de459;
}

.google {
  background: #ccc;
  color: #333;
}

.google:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1.1em;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 0.9em 0.9em;
  margin-left: 10%;
  margin-right: 10%;
}

.google:hover, .google:focus {
  background: #ddd;
}

.kakao {
  background: #ffeb00;

  color: #333;
}

.kakao:before {
  content: '';
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  background: url('../../../../assets/img/icon_kakao.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1.1em 1em;
  margin-left: 10%;
  margin-right: 10%;
}


.kakao:hover, .kakao:focus {
  background: #fff279;

}