:host {
  display: block;
  flex: 1;
  padding: 0;
}

button {
  width: 100%;
  font-size: 1em;
  padding: 1em;
  outline: none;
  border: none;
  text-align: left;
}

.naver {
  background: #1EC800;
  color: white;
}

.naver:before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('../../../../assets/img/icon_naver.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1.5em;
  margin: -.25em 10% -.25em 27%;
}

.naver:hover, .naver:focus {
  background: #1de459;
}

.google {
  background: #D5B15E;
  color: white;
}

.google:before {
  content: '';
  display: inline-block;
  width: 6em;
  height: 1.5em;
  background: url('../../../../assets/img/logo_white.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 6em 1.5em;
  margin: -0.1em 5% -0.4em 18%;
}

.google:hover, .google:focus {
  background: rgb(240, 200, 106);
}

.kakao {
  background: #ffeb00;
  color: #333;
}

.kakao:before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: url('../../../../assets/img/icon_kakao.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1.5em;
  margin: -.25em 10% -.25em 27%;
}

.kakao:hover, .kakao:focus {
  background: #fff279;

}