<div id="header">
  <section id="titleBar">
    <h1>구직 관리</h1>
    <h2 (click)="download();">엑셀 다운로드</h2>
  </section>
</div>

<section>
  <article>
    <header>
      <h1>전체 {{total || '0'}}개 항목</h1>
      <!-- <input class="search" type="text" placeholder="아이디 검색" /> -->
    </header>
    <app-table [type]="'employee'">
      <ng-container appMypost></ng-container>
    </app-table>
    <li class="submitBar">
      <button (click)="confirm()">게시 승인</button>
      <button (click)="deny()">게시 거부</button>
    </li>
  </article>
</section>