<section>
  <div>
    <div class="contentBox1">
      <div id="memberTitle">
        <p>회원정보</p>
        <span>더보기 ></span>
      </div>
      <div id="memberInfo">
        <div class="left">
          <img src="/assets/img/icon_person.png" />
          <div class="platinum">PLATINUM</div>
        </div>
        <div>
          <h1 id="name">김철수</h1>
          <h2 id="point">3,700K</h2>
          <h3 id="date">2018. 12. 31. ~ 2019. 12. 08.</h3>
        </div>
      </div>
      <div>
        <app-button>결제하기</app-button>
      </div>
      <div id="memberLocation">
        <h1>관심 지역</h1>
        <p id="tags">
          #서울 #청담 #판교
        </p>
      </div>
      <div id="memberKeyword">
        <h1>관심 키워드</h1>
        <p id="keywords">
          #역세권 #오피스텔
        </p>
      </div>
      <div>
        <h1>관심 금액</h1>
      </div>
    </div>
    <div class="contentBox2">
      <nav id="menuScrap" class="tabGroup">
        <li class="detail show">상세 회원 정보</li>
      </nav>
      <div class="personal show">
        <app-group>
          <article>
            <div>
              <label>아이디</label>
              <p>ㅅㄷㄴㅅ</p>
            </div>
            <div>
              <label>패스워드</label>
              <p></p>
            </div>
          </article>

          <li>
            <h1>핸드폰</h1>
            <p></p>
          </li>
          <li>
            <h1>E-mail</h1>
            <p></p>
          </li>
          <li>
            <h1>가입목적</h1>
            <p></p>
          </li>
          <li>
            <h1>집 주소</h1>
            <p></p>
          </li>
          <li>
            <h1>집 전화번호</h1>
            <p></p>
          </li>
          <li>
            <h1>사무실 주소</h1>
            <p></p>
          </li>
          <li>
            <h1>사무실 전화번호</h1>
            <p></p>
          </li>
          <li>
            <h1>정보 수신</h1>
            <p></p>
          </li>
          <li>
            <h1>SNS 계정연동</h1>
            <p></p>
          </li>
        </app-group>
      </div>
    </div>
  </div>
</section>
