:host {
  display: block;
  min-width: 1100px;
  /* min-width: var(--main-width); */
  background: #eee;
  padding: 0;
}

section>div {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.btnMore {
  cursor: pointer;
}

.contentBox1,
.contentBox2 {
  box-shadow: 0 0 10px #ddd;
}

.contentBox1+.contentBox2 {
  margin-left: 2em;
}

.contentBox2+.contentBox1 {
  margin-left: 2em;
}

.contentBox1 {
  flex: 1;
  background: white;
  cursor: default;
}

.contentBox2 {
  flex: 2;
  background: white;
}

#memberTitle {
  background: #232323;
  /* background: var(--main-bg-color); */
  color: #ccc;
  padding: 1em 1.5em;
  display: flex;
  font-size: 0.8em;
}

#memberTitle p {
  flex: 1;
  margin: 0.5em 0;
}

#memberTitle span {
  float: right;
  width: auto;
  margin: 0.5em 0;
}

#memberInfo {
  display: flex;
  padding: 1em;
}

#memberInfo>div {
  flex: 1 1 auto;
}

#memberInfo>div.left {
  text-align: center;
  margin-right: 1em;
}

#memberInfo img {
  display: block;
  margin: 0.5em auto;
}

.levelTag {
  display: inline-block;
  color: white;
  font-size: 0.9em;
  padding: 0.5em 0.75em;
  margin: 0.25em;
}

.STANDARD {
  background: linear-gradient(35deg, rgb(175, 175, 175), rgba(175, 175, 175, 0.6), rgba(175, 175, 175, 0.2));
  /* background: var(--level-standard-gradient); */
}

.PREMIUM {
  background: linear-gradient(35deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  /* background: var(--level-premium-gradient); */
}

.PLATINUM {
  background: linear-gradient(35deg, rgba(213, 177, 94, 1.0), rgba(187, 141, 34, 0.6), rgba(187, 141, 34, 0.2));
  /* background: var(--level-platinum-gradient); */
}

.MANAGER {
  background: linear-gradient(35deg, rgb(67, 121, 177), rgba(23, 78, 146, 0.6));
  /* background: var(--level-manager-gradient); */
}

.ADMIN {
  background: linear-gradient(35deg, rgb(67, 121, 177), rgba(23, 78, 146, 0.6));
  /* background: var(--level-admin-gradient); */
}

#memberInfo h1 {
  display: inline-block;
  font-size: 1.6em;
  line-height: 150%;
  margin-top: 11px;
}

#memberInfo h1:after {
  content: '회원님';
  display: inline-block;
  font-size: 0.6em;
  margin-left: 1em;
}

#memberInfo h2 {
  color: #D3000D;
  font-size: 1.4em;
}

#memberInfo h2:before {
  content: '포인트';
  display: block;
  color: black;
  font-size: 0.6em;
  line-height: 150%;
}

#memberInfo h2:after {
  content: 'Point';
  display: inline-block;
  color: #D3000D;
  font-size: 0.6em;
  margin-left: 1em;
}

#memberInfo h3 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.6em;
}

#memberLocation,
#memberKeyword {
  padding: 1em;
  border-top: 1px solid #d8d8d8;
}

#memberLocation h1,
#memberKeyword h1 {
  font-size: 0.7em;
}

#memberLocation p,
#memberKeyword p {
  font-size: 1.2em;
}

.tabGroup {
  display: flex;
}

.tabGroup li {
  flex: 1;
  font-size: 0.9em;
  padding: 1em 2em;
  color: #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
}

.tabGroup li.show {
  color: #232323;
  border-bottom: 2px solid #232323;
  /* color: var(--bg-main-color); */
  border-bottom: 2px solid var(--main-bg-color);
}

.contentBox2 div {
  display: flex ;
}

.contentBox2 div li {
  flex: 1;
  display: flex;
}

.contentBox2 div span {
  flex: 1 1 auto;
  font-size: 0.8em;
  line-height: 400%;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
}

.personal {
  padding: 1em;
  font-size: 0.9em;
}

.btnForm {
  margin-top: 1em; 
}

app-button {
  width: calc(100% - 0.5em);
}

app-group /deep/ article {
  margin-top: 0;
  padding-top: 0.5em;
  border: none;
}

app-group /deep/ label {
  line-height: 42px;
  margin: 0;
  font-size: 1em;
}

app-group /deep/ p {
  line-height: 42px;
  margin: 0;
  font-size: 1em;
  padding-left: 1em;
}