<section>
  <div>
    <div class="contentBox1">
      <div id="memberTitle">
        <p>회원정보</p>
        <span class="btnMore" routerLink="/portfolio">돌아가기
          <</span>
      </div>
      <div id="memberInfo">
        <div class="left">
          <img src="/assets/img/icon_person.png" />
          <div [class]="'levelTag ' + userInfo['user_level']">{{ userInfo['user_level'] }}</div>
        </div>
        <div>
          <h1 id="name">{{ userInfo['user_name'] }}</h1>
          <h2 id="point">{{ userInfo['user_point'] }}</h2>
          <h3 id="date">{{ (userInfo['user_start'] && userInfo['user_end']) ? userInfo['user_start'] + '~' + userInfo['user_end'] : '무제한'
            }} </h3>
        </div>
      </div>
      <div>
        <app-button>결제하기</app-button>
      </div>
      <div id="memberLocation">
        <h1>관심 지역</h1>
        <p id="tags">
          {{ userInfo['user_location'] ? userInfo['user_location'] : '&nbsp;'}}
        </p>
      </div>
      <div id="memberKeyword">
        <h1>관심 키워드</h1>
        <p id="keywords">
          {{ userInfo['user_keyword'] ? userInfo['user_keyword'] : '&nbsp;'}}
        </p>
      </div>
    </div>
    <div class="contentBox2">
      <nav id="menuScrap" class="tabGroup">
        <li class="detail show">상세 회원 정보</li>
      </nav>
      <div class="personal show">
        <app-group *ngIf="!editMode">
          <article>
            <div class="row">
              <label>아이디</label>
              <p>{{ detailedInfo['u-id'] }}</p>
            </div>
            <div class="row">
              <label>패스워드</label>
              <p>********</p>
            </div>
            <div class="row">
              <label>핸드폰</label>
              <p>{{ detailedInfo['cp'] }}</p>
            </div>
            <div class="row">
              <label>E-mail</label>
              <p>{{ detailedInfo['email'] }}</p>
            </div>
            <div class="row">
              <label>집 주소</label>
              <p>{{ detailedInfo['ha'] || '-' }}</p>
            </div>
            <div class="row">
              <label>집 전화번호</label>
              <p>{{ detailedInfo['hp'] || '-' }}</p>
            </div>
            <div class="row">
              <label>사무실 주소</label>
              <p>{{ detailedInfo['oa'] || '-' }}</p>
            </div>
            <div class="row">
              <label>사무실 전화번호</label>
              <p>{{ detailedInfo['op'] || '-' }}</p>
            </div>
            <div class="row">
              <label>정보 수신</label>
              <p>{{ detailedInfo['info-a'] || '-' }}</p>
            </div>
            <div class="row">
              <label>SNS 계정연동</label>
              <p>{{ detailedInfo['sns'] || '-' }}</p>
            </div>
          </article>
          <app-button class="btnForm" (click)="toEditMode();">수정하기</app-button>
        </app-group>
        <app-group *ngIf="editMode">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <article>
              <div class="row">
                <label>아이디</label>
                <p>{{ detailedInfo['u-id'] }}</p>
              </div>
              <div class="row">
                <label>패스워드</label>
                <input formControlName="password" type="password" placeholder="*********">
              </div>
              <div class="row">
                <label>패스워드 확인</label>
                <input formControlName="passwordV" type="password" placeholder="*********">
              </div>
              <div class="row">
                <label>핸드폰</label>
                <input formControlName="cp" type="text" [placeholder]="detailedInfo['cp']">
              </div>
              <div class="row">
                <label>E-mail</label>
                <input formControlName="email" type="text" [placeholder]="detailedInfo['email']">
              </div>
              <div class="row">
                <label>집 주소</label>
                <input formControlName="ha" type="text" [placeholder]="detailedInfo['ha'] || '입력된 정보가 없습니다.'">
              </div>
              <div class="row">
                <label>집 전화번호</label>
                <input formControlName="hp" type="text" [placeholder]="detailedInfo['hp'] || '입력된 정보가 없습니다.'">
              </div>
              <div class="row">
                <label>사무실 주소</label>
                <input formControlName="oa" type="text" [placeholder]="detailedInfo['oa'] || '입력된 정보가 없습니다.'">
              </div>
              <div class="row">
                <label>사무실 전화번호</label>
                <input formControlName="op" type="text" [placeholder]="detailedInfo['op'] || '입력된 정보가 없습니다.'">
              </div>
              <div class="row">
                <label>정보 수신</label>
                <input formControlName="info-a" type="text" [placeholder]="detailedInfo['info-a'] || '입력된 정보가 없습니다.'">
              </div>
              <div class="row">
                <label>SNS 계정연동</label>
                <input formControlName="sns" type="text" [placeholder]="detailedInfo['sns'] || '입력된 정보가 없습니다.'">
              </div>
            </article>
            <app-button class="btnForm" (click)="onSubmit()">수정하기</app-button>
          </form>
        </app-group>
      </div>
    </div>
  </div>
</section>
