<div class="card" [ngClass]="record['rank']" [routerLink]="'/site/site-detail/'+record['no']">
  <div id="levelBar">{{ record['level'] }}</div>
  <div id="imgFrame">
    <img [src]="imageUrl" alt="부동산 사진">
  </div>
  <div id="buttonBar">
    <img id="bookmark" (click)="bookmark(); $event.stopPropagation();" src="/assets/img/icon_bookmark.png" />
    <img (click)="fbShare()" src="/assets/img/icon_share.png" />
  </div>
  <h3>{{ record['type'] }}</h3>
  <h2>{{ record['title'] }}</h2>
  <h4>모집일 {{ formatDate(record['open-start']) }} ~ {{ formatDate(record['open-end']) }}</h4>
  <h5><b>{{ record['ammount'].toLocaleString() }}</b>천만원</h5>
</div>
