<div class="card" [ngClass]="record['rank']" [routerLink]="'/site/site-detail/'+record['S-id']">
  <div id="levelBar">{{ record['S-level'] }}</div>
  <div id="imgFrame">
    <img [src]="imageUrl" alt="부동산 사진">
  </div>
  <div id="buttonBar">
    <img id="bookmark" (click)="bookmark(); $event.stopPropagation();" src="/assets/img/icon_bookmark.png" />
    <img src="/assets/img/icon_share.png" />
  </div>
  <h2>{{ record['S-type'] }}</h2>
  <h3>{{ record['S-title'] }}</h3>
  <h2>모집일 {{ record['S-open-start'].slice(0, 10) }} ~ {{ record['S-open-end'].slice(0, 10) }}</h2>
  <h4>{{ record['S-ammount'].toLocaleString() }} 백만원</h4>
</div>
