:host {
  height: 40px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: right;
}

#iconSet {
  flex: auto;
  margin-right: 0.5em;
}

#iconSet button {
  width: 1.2em;
  height: 1.2em;
  border: none;
  opacity: 0.6;
  margin: 0.5em 0.5em;
  transition: opacity 0.5s;
  outline: none;
  cursor: pointer;
}

#iconSet button:hover {
  opacity: 1;
}

#iconSet button#mail {
  background: url('/assets/img/icon_mail.png');
  background-size: 1.2em auto;
  background-position: center;
  background-repeat: no-repeat;
}

#iconSet button#dashboard {
  background: url('/assets/img/icon_dashboard.png');
  background-size: 1.2em auto;
  background-position: center;
  background-repeat: no-repeat;
}

#iconSet button#notification {
  background: url('/assets/img/icon_notification.png');
  background-size: auto 1.2em;
  background-position: center;
  background-repeat: no-repeat;
}

.signed,
.unsigned {
  padding: 0;
  font-size: 12px;
  flex: auto;
  box-sizing: border-box;
  display: inline-flex;
  outline: none;
}

.unsigned {
  min-width: 10em;
}

.signed {
  min-width: 15em;
  border-bottom: 1px solid var(--header-border-solid);
  cursor: pointer;
}

.signed img {
  width: 1.2em;
  height: 1.2em;
  margin: 0.5em;
  flex: none;
}

.signed div, .unsigned div {
  margin: 0.5em;
}

#user {
  line-height: 100%;
  padding-top: 0.1em;
  flex: 1;
  flex-basis: 7em;
}

#point {
  width: auto;
  color: white;
  flex: 1 1 auto;
}

.unsigned div {
  font-size: 1em;
  color: #aaa;
  flex: none;
  margin-left: auto;
  text-align: right;
  transition: color 0.5s;
  cursor: pointer;
}

.unsigned div:hover {
  color: white;
}

.popup {
  position: absolute;
  display: none;
  margin-top: 0em;
  margin-left: -4em;
  width: 256px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;
  background: white;
  color: #333;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.5s;
  outline: none;
  cursor: default;
}

#mail, #notification {
  margin-top: .25em;
  margin-left: 42em;
  width: 295px;
  height: auto;
  text-align: left;
}

#mail li,
#notification li {
  padding: 1.5em 1em;
  font-size: 0.8em;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
}

#mail li:hover,
#notification li:hover {
  background: #eee;
}

#mail span,
#notification span {
  flex: 1;
}

#mail span + span,
#notification span + span {
  font-size: 0.7em;
  flex: none;
  text-align: right;
  line-height: 130%;
}

#mail #option,
#notification #option {
  font-size: 0.7em;
  line-height: 200%;
  color: #666;
  text-align: right;
  padding: 0 1em;
  background: #ddd;
}

#account #profile {
  display: flex;
  padding: 1em;
}
#account .left {
  flex: none;
  width: 70px;
  margin: 0 1.5em 0 0.5em;
  text-align: center;
}

#account img {
  flex: none;
  width: 70px;
  height: 70px;
}

.levelTag {
  display: inline-block;
  color: white;
  font-size: 0.8em;
  padding: 0.25em 0.75em;
  margin: 1em 0.25em 0.25em 0.25em;
}

.STANDARD {
  background: var(--level-standard-gradient);

}
.PREMIUM {
  background: var(--level-premium-gradient);  
}
.PLATINUM {
  background: var(--level-platinum-gradient);
}
.MANAGER {
  background: var(--level-manager-gradient);
}
.ADMIN {
  background: var(--level-admin-gradient);
}

#account div {
  flex: 1;
  text-align: left;
}

#account h1, h2{
  display: inline-block;
  font-size: 1.2em;
  margin: 0.25em 0;
}

#account h2 {
  margin-left: 0.5em;
  font-size: 0.9em;
}

#account h3 {
  font-size: 0.7em;
  color: #666;
  margin-top: 14px;
}

#account h4 {
  font-size: 1.3em;
  color: #D3000D;
  margin: 9px 0;
}

#account h5 {
  font-size: 0.6em;
  color: #999;
  margin-top: 7px;
  margin-bottom: 0;
}

#account #buttons {
  background: #333;
  text-align: center;
}

#account button {
  display: inline-block;
  width: 40%;
  height: 2.5em;
  box-sizing: border-box;
  padding: 0.5em 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
  cursor: pointer;
  color: #ccc;
  background: #333;
  border: none;
  outline: none;
  transition: color 0.5s;
}

#account button:hover {
  color: white;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.show {
  display: block;
  opacity: 1;
}
