<div id="iconSet" *ngIf="isLogin">
  <button id="mail" (click)="showMail = true"></button>
  <button id="dashboard" (click)="checkAdmin()"></button>
  <button id="notification" (click)="showNotification = true"></button>

  <div id="mail" class="popup" [ngClass]="{'show': showNotification}">
    <div id="list">
      <li>
        <span>쪽지 포인트 적립 +20P</span>
        <span>2018. 01</span>
      </li>
      <li>
        <span>쪽지 포인트 적립 +20P</span>
        <span>2018. 01</span>
      </li>
      <li>
        <span>쪽지 포인트 적립 +20P</span>
        <span>2018. 01</span>
      </li>
    </div>
    <div id="option">
      <span>모두 삭제</span>
    </div>
  </div>

  <div id="notification" class="popup" [ngClass]="{'show': showMail}">
    <div id="list">
      <li>
        <span>PREMIUM 회원 기간이 3일 남았습니다.</span>
        <span>2018. 01</span>
      </li>
      <li>
        <span>PREMIUM 회원 기간이 7일 남았습니다.</span>
        <span>2018. 01</span>
      </li>
      <li>
        <span>PREMIUM 회원 기간이14일 남았습니다.</span>
        <span>2018. 01</span>
      </li>
    </div>
    <div id="option">
      <span>모두 삭제</span>
    </div>
  </div>

  <div class="fullscreen" [ngClass]="{'show': showMail}" (click)="showMail = false"></div>
  <div class="fullscreen" [ngClass]="{'show': showNotification}" (click)="showNotification = false"></div>
</div>

<div>
  <div class="signed" *ngIf="isLogin" (click)="showProfile = true">
    <img src="/assets/img/icon_profile.png" alt="">
    <div id="user">{{user.id}} 님</div>
    <div id="point">{{user.point?user.point:'0'}} P</div>
    <!-- <div id="logout" (click)="logout()">로그아웃</div> -->
  </div>

  <div class="unsigned" *ngIf="!isLogin">
    <div routerLink="/login">로그인</div>
    <div routerLink="/signup">회원가입</div>
  </div>

  <div id="account" class="popup" [ngClass]="{'show': showProfile}">
    <div id="profile">
      <div class="left">
        <img src="/assets/img/icon_person.png">
        <div class="platinum">PLATINUM</div>
      </div>
      <div>
        <h1>{{user.name}}</h1>
        <h2>회원님</h2>
        <h3>포인트</h3>
        <h4>{{user.point?user.point:'0'}} Point</h4>
        <h5 *ngIf="user.start">{{user.start}} ~ {{user.end}}</h5>
        <h5 *ngIf="!user.start">무제한</h5>
      </div>
    </div>
    <div id="buttons">
      <button (click)="logout()">로그아웃</button>
      <button (click)="editProfile()">회원정보 수정</button>
    </div>
  </div>

  <div class="fullscreen" [ngClass]="{'show': showProfile}" (click)="showProfile = false"></div>
</div>