<div class="card" [ngClass]="record['rank']" [routerLink]="'/info/news/'+record['no']">
  <div id="levelBar">{{ record['N-level'] }}</div>
  <div id="imgFrame">
    <img [src]="imageUrl" alt="부동산 사진">
  </div>
  <div id="buttonBar">
    <img id="bookmark" (click)="bookmark(); $event.stopPropagation();" src="/assets/img/icon_bookmark.png" />
    <img (click)="fbShare(); $event.stopPropagation();" src="/assets/img/icon_share.png" />
  </div>
  <h3>부동산 뉴스</h3>
  <h2>{{ record['title'] }}</h2>
  <!-- <h3>{{ record['analysis-description'] }}</h3> -->
</div>