<app-horizontal-list>
  <div class="c1">
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'standard'"></app-news-card>
    <app-news-card [level]="'premium'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
  </div>
  <div class="c2">
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'standard'"></app-news-card>
    <app-news-card [level]="'premium'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
    <app-news-card [level]="'platinum'"></app-news-card>
  </div>
</app-horizontal-list>
