<span class="cell">
  <input type="checkbox" />
</span>

<span class="cell">
  <div>{{ record['u-id'] }}</div>
  <div>
    <!-- <span class="edit" (click)="editUser()">EDIT</span> -->
    <span class="delete" (click)="deleteUser()">DELETE</span>
  </div>
</span>
<span class="cell">{{ record['name'] }}</span>
<span class="cell">{{ record['email'] }}</span>
<span class="cell">
      <li *ngIf="record['level']==='STANDARD'" class="standard">STANDARD</li>
      <li *ngIf="record['level']==='PREMIUM'" class="premium">PREMIUM</li>
      <li *ngIf="record['level']==='PLATINUM'" class="platinum">PLATINUM</li>
      <li *ngIf="record['level']==='MANAGER'" class="manager">MANAGER</li>
      <li *ngIf="record['level']==='ADMIN'" class="admin">ADMIN</li>
</span>
<span class="cell">{{ record['point'] }}</span>
<span class="cell" *ngIf="record['level-start']">{{ record['level-start'] + ' ~ ' + record['level-end'] }}</span>
<span class="cell" *ngIf="!record['level-start']">무제한</span>

<!-- <span class="cell" *ngFor="let record of recordData" [ngSwitch]="record.type">
  <ng-container *ngSwitchCase="'id'">
    <div>{{ record.value }}</div>
    <div>
      <span class="edit">EDIT</span>
      <span class="delete">DELETE</span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'level'">
    <li *ngIf="record.value==='PLATINUM'" class="platinum">{{ record.value }}</li>
    <li *ngIf="record.value==='PREMIUM'" class="premium">{{ record.value }}</li>
    <li *ngIf="record.value==='STANDARD'" class="standard">{{ record.value }}</li>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{ record.value }}
  </ng-container>
</span> -->
