<span class="cell">
  <input type="checkbox" />
</span>

<span class="cell" *ngFor="let record of recordData" [ngSwitch]="record.type">
  <ng-container *ngSwitchCase="'id'">
    <div>{{ record.value }}</div>
    <div>
      <span class="edit">EDIT</span>
      <span class="delete">DELETE</span>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'level'">
    <li *ngIf="record.value==='PLATINUM'" class="platinum">{{ record.value }}</li>
    <li *ngIf="record.value==='PREMIUM'" class="premium">{{ record.value }}</li>
    <li *ngIf="record.value==='STANDARD'" class="standard">{{ record.value }}</li>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{ record.value }}
  </ng-container>
</span>
