:host {
  display: table-row;
  font-size: 0.9em;
  line-height: 100%; 
  text-align: center;
}

:host:hover {
  background: #eee;
}

.cell {
  display: table-cell;
  padding: 0.5em 0.3em;
}

.cell img {
  width: auto;
  height: 1.8em;
  vertical-align: middle;
}

.edit, .delete {
  display: inline-block;
  line-height: 100%;
  margin: 0 0.5em;
  width: 5em;
  font-size: 0.8em;  
}

.edit {
  color: #063590;
}

.delete {
  color: #AE1212;
}

li {
  display: inline-block;
  line-height: 100%;
  padding: 0.5em 1em;
}

.platinum {
  background: var(--level-platinum-gradient);
  color: white;
}

.premium {
  background: var(--level-premium-gradient);
  color: white;
}

.standard {
  background: var(--level-standard-gradient);

}

.point {
  font-size: 0.8em;
  color: #666;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
