<section>
  <div class="particle">
    <div id="titleBar">
      <h1>카테고리</h1>
      <app-select>상위 카테고리</app-select>
      <app-select>하위 카테고리</app-select>
    </div>

    <li>
      <h2>제목</h2>
      <input type="text" placeholder="제목을 입력하세요"/>
    </li>
    <li>
      <h2>요약 정보</h2>
      <textarea placeholder="요약 정보를 입력하세요"></textarea>
    </li>
    <li>
      <h2>분양 오픈일</h2>
      <input type="date" />
      <input type="date" />
      <app-button>일정 등록</app-button>
      <div class="blank"></div>
    </li>
    <li>
      <h2>분양가</h2>
      <input type="number">
      <div class="blank"></div>
    </li>
    <li>
      <h2>담당자 정보</h2>
      <input type="text">
      <input type="text">
      <div class="blank"></div>
    </li>
    <li>
      <h2>현장 시세</h2>
    </li>
    <li>
      <h2>현장 리포트</h2>
      <textarea placeholder="상세 정보를 입력하세요"></textarea>
    </li>
    <li>
      <h2>현장 사진</h2>
      <input type="file">
      <app-button>사진 등록</app-button>
      <div class="blank"></div>
    </li>
    <button>등록하기</button>
    <button>미리보기</button>
  </div>
</section>