<section>
  <div class="particle">
    <div id="titleBar">
      <h1>카테고리</h1>
      <app-select>상위 카테고리</app-select>
      <app-select>하위 카테고리</app-select>
    </div>

    <li>
      <h2>제목</h2>
      
    </li>
    <li>
      <h2>요약 정보</h2>
    </li>
    <li>
      <h2>분양 오픈일</h2>
    </li>
    <li>
      <h2>분양가</h2>
    </li>
    <li>
      <h2>담당자 정보</h2>
    </li>
    <li>
      <h2>현장 시세</h2>
    </li>
    <li>
      <h2>현장 리포트</h2>
    </li>
    <li>
      <h2>현장 사진</h2>
    </li>
    <div class="lTable">
      <div class="lTableColumn1"></div>
      <div class="lTableColumn2"></div>
      <div class="lTableRow">
        <div class="lTableHead">
          <input type="checkbox" />
        </div>
        <div class="lTableHead">아이디</div>
        <div class="lTableHead">이름</div>
        <div class="lTableHead">이메일</div>
        <div class="lTableHead">등급</div>
        <div class="lTableHead">사용기간</div>
      </div>
      <div class="lTableRow">
        <div class="lTableCell">
          <input type="checkbox" />
        </div>
        <div class="lTableCell">Christian_Red</div>
        <div class="lTableCell">이유정</div>
        <div class="lTableCell">Christian_red@hanmail.net</div>
        <div class="lTableCell">STANDARD</div>
        <div class="lTableCell">2017.12.31 - 2018.12.30</div>
      </div>
    </div>
  </div>
</section>