<section>
  <div id="top">
    <div id="imgNav">
      <img [src]="imgUrl" />
    </div>
    <div>
      <h1>{{ Data['title'] }}</h1>
      <p [innerHtml]="Data['summary']"></p>
      <li>
        <h2>주최측</h2>
        <h3>{{ Data['host'] }}</h3>
      </li>
      <li>
        <h2>신청기간</h2>인
        <h3>{{ formatDate(Data['apply-start']) + ' ~ ' + formatDate(Data['apply-end']) }}</h3>
      </li>
      <li>
        <h2>주최날짜</h2>
        <h3>{{ formatDate(Data['duration-start']) + ' ~ ' + formatDate(Data['duration-end']) }}</h3>
      </li>
      <li>
        <h2>장소</h2>
        <h3>{{ Data['location'] }}</h3>
      </li>
      <li>
        <h2>모집정원</h2>
        <h3>{{ Data['personnel'] + '명' }}</h3>
      </li>
      <li>
        <h2>참가비</h2>
        <h3 class="price">{{ Data['cost'].toLocaleString() + '원' }}</h3>
      </li>
      <li class="buttonBar">
        <h2></h2>
        <app-button>모임 참가하기</app-button>
      </li>
      <div id="optionBar">
        <img src="/assets/img/icon_schedule_black.png">
        <img src="/assets/img/icon_facebook_black.png">
      </div>
    </div>
  </div>
  <app-group>
    <article>
      <div class="row">
        <label>세부 사항
          <p class="more" (click)="showMore(reportDetail)">더보기 ></p>
        </label>
        <div class="editorContainer document">
          <p class="shortener" [innerHtml]="Data['detail']"></p>
        </div>
      </div>
    </article>
    <article>
      <div class="row">
        <label>준비물</label>
        <p class="row">{{ Data['material'] }}</p>
      </div>
    </article>
    <div class="subGroup">
      <label>현장 댓글
        <p class="more" (click)="showMore(commentDetail)">더보기 ></p>
      </label>
      <article class="comments">
        <div name="commentBox" class="row">
          <form class="commentForm">
            <label>관리자</label>
            <textarea type="text" class="commentInput" #NewComment></textarea>
            <app-button>댓글 입력</app-button>
          </form>
        </div>
      </article>
    </div>
    <app-popup id="commentPopup" #commentDetail>
      <h1>현장 댓글</h1>
    </app-popup>
    <article>
      <div class="row">
        <label>관련 오프라인 모임</label>
        <div class="row flex">
          <ng-container appRankingpost></ng-container>
        </div>
      </div>
    </article>
  </app-group>
</section>
`
