<app-horizontal-list>
  <!-- <div class="c1"> -->
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <!-- <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
  </div>
  <div class="c2">
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
    <app-employee-card></app-employee-card>
  </div> -->
</app-horizontal-list>
