<section>
  <h1>구인 등록 하기</h1>
  <div class="formPart">
    <h2>구인 요건</h2>
    <ul>
      <li>
        <h3>업무</h3>
        <app-select></app-select>
      </li>
      <li>
        <h3>업무 내용</h3>
        <input type="text" placeholder="업무 내용을 입력하세요."/>
      </li>
      <li>
        <h3>나이</h3>
        <input type="text" />
        <input type="text" />
        <span>세</span>
      </li>
      <li>
        <h3>응시요건</h3>
        <input type="text" placeholder="예) 분양경력 1년 이상" />
      </li>
      <li>
        <h3>모집인원</h3>
        <input type="text" />
        <span>명</span>
      </li>
      <li>
        <h3>채용방법</h3>
        <input type="text" placeholder="예) 전화 또는 서류접수"/>
      </li>
      <li>
        <h3>모집기간</h3>
        <input type="date" />
        <input type="date" />
        <app-button></app-button>
      </li>
      <li>
        <h3>상세요건</h3>
      </li>
    </ul>
  </div>
  <div class="formPart">
    <h2>현장 정보</h2>
  </div>
  <div class="formPart">
    <h2>개인정보 수집 및 이용 동의</h2>
  </div>
</section>
