<section>
  <form [formGroup]="applyForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <app-group>
      <h1>구직 등록 하기</h1>
      <div class="subGroup">
        <label>구인 요건
          <br>
          <b>필수사항</b>
        </label>
        <article>
          <div class="row">
            <label>성명</label>
            <input formControlName="name" type="text" placeholder="성명을 입력하세요." />
            <div class="blank"></div>
            <!-- <app-select></app-select> -->
          </div>
          <div class="row">
            <label>성별</label>
            <input formControlName="sex" type="text" placeholder="남/여" />
            <div class="blank"></div>
          </div>
          <div class="row">
            <label>나이</label>
            <input formControlName="age" type="text" placeholder="00" />
            <span>세</span>
            <div class="blank"></div>
          </div>
          <div class="row">
            <label>핸드폰</label>
            <input formControlName="cp" type="text" placeholder="010-000-0000" />
            <div class="blank"></div>
          </div>
          <div class="row">
            <label>전화</label>
            <input formControlName="hp" type="text" placeholder="02-000-0000" />
            <div class="blank"></div>
          </div>
          <div class="row">
            <label>E-Mail</label>
            <input formControlName="email" type="text" placeholder="nickname@we2win.com" />
          </div>
          <div class="row">
            <label>홈페이지</label>
            <input formControlName="homepage" type="text" placeholder="www.homepage.com" />
          </div>
          <div class="row">
            <label>주소</label>
            <input formControlName="address" type="text" placeholder="서울시 ㅇㅇ구" />
          </div>
        </article>
      </div>
      <div class="subGroup">
        <label>
          현장 정보
          <br>
          <b>필수 사항 *</b>
        </label>
        <article>
          <div class="row">
            <label>희망업무</label>
            <input formControlName="part" type="text" placeholder="희망 업무를 입력해 주세요" />
          </div>
          <div class="row">
            <label>희망지역</label>
            <input formControlName="location" type="text" placeholder="희망 지역을 입력해 주세요" />
          </div>
          <div class="row">
            <label>경력</label>
            <input formControlName="career" type="text" placeholder="경력을 입력해 주세요" />
          </div>
          <div class="row">
            <label>자격사항</label>
            <input formControlName="achievement" type="text" placeholder="자격 사항을 입력해 주세요" />
          </div>
          <div class="row">
            <label>인맥</label>
            <input formControlName="networking" type="text" placeholder="인맥 관계를 입력해 주세요" />
          </div>
          <div class="row">
            <label>근무가능일</label>
            <input formControlName="available-start" type="text" placeholder="근무 가능 시작일" />
            <span> ~ </span>
            <input formControlName="available-end" type="text" placeholder="근무 가능 종료일" />
            <div class="blank"></div>
          </div>
          <div class="row">
            <label>자기소개</label>
            <input formControlName="intro" type="text" placeholder="간단한 자기소개를 입력해 주세요" />
          </div>
          <div class="row">
            <label>기타</label>
            <input formControlName="etc" type="text" placeholder="기타 참고사항을 입력해 주세요" />
          </div>
          <div class="row">
            <label></label>
          </div>
        </article>
      </div>
      <article>
        <div class="row">
          <label>개인정보 수집 및
            <br>이용 동의</label>
          <textarea readonly="readonly">
            1. 개인 정보 수집, 이용 목적 해당 상품은 지난 6월 대출 직후 건축 인허가 관련 변경 사유가 발생하여 재신청을 진행하였습니다만, 포천시 조례 변경 등의 사유와 맞물려 이번 12월에야 인허가 승인이 완료되었습니다.
            이번 12월에야 인허가 승인이 완료되었습니다. 이번 12월에야 인허가 승인이 완료되었습니다. 1. 개인 정보 수집, 이용 목적 해당 상품은 지난 6월 대출 직후 건축 인허가 관련 변경 사유가 발생하여
            재신청을 진행하였습니다만, 포천시 조례 변경 등의 사유와 맞물려 이번 12월에야 인허가 승인이 완료되었습니다. 이번 12월에야 인허가 승인이 완료되었습니다. 이번 12월에야 인허가 승인이 완료되었습니다.
          </textarea>
        </div>
      </article>
      <div class="row">
        <label></label>
        <input id="agree2" type="checkbox" [checked]="agree2" (change)="agree2 = !agree2">
        <label class="sublabel left" for="agree2">개인정보 수집 및 이용 동의에 관한 사항을 읽었으며, 이에 동의 합니다.</label>
      </div>

      <p>입력하신 내용을 다시한번 확인 하시고, 등록하기를 눌러주세요.
        <br>접수된 내용은 담당자의 확인 후 정식 등록됩니다.</p>
      <app-button>구인 등록하기</app-button>
    </app-group>
  </form>
</section>
