:host {
  display: block;
  min-width: 1100px;
  /* min-width: var(--main-width); */
  background: #d8d8d8;
}

section {
  text-align: center;
  padding: 80px 80px;
}

h1 {
  display: block;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 0.5em 0;
  text-align: center;
}

#subBar {
  display: flex;
  justify-content: space-between;
}

#dateSelector {
  width: 146px;
  flex: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  flex: 1;
  margin: 0;
  line-height: 200%;
  text-align: center;
}

.side {
  width: 100px;
  flex: none;
}

h3 {
  font-size: 14px;
}

.more {
  margin: 0;
  line-height: 28px;
  cursor: pointer;
}

.more:after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  box-sizing: border-box;
  background: url('/assets/img/next.svg');
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position-y: bottom;
}

.contents {
  width: 940px;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  padding: 0;
}

:host /deep/ .contents>* {
  width: 250px !important;
  margin-top: 69px !important;
}

:host /deep/ .card {
  width: 250px !important;
}

:host /deep/ .card:before {
  display: block;
  position: relative;
  width: 100%;
  font-size: 20px;
  padding-bottom: 11px;
  margin-top: -39px;
  color: #333;
  text-align: center;
  box-sizing: border-box;
}

:host /deep/ .first.card:before {
  content: '1위';
}

:host /deep/ .second.card:before {
  content: '2위';
}

:host /deep/ .third.card:before {
  content: '3위';
}

.btnNav {
  width: 0.5em;
  height: 2em;
  flex: none;
  border: none;
  outline: none;
}

#btnLeft {
  background: url('/assets/img/arrow_left.png');
  background-size: 5px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

#btnRight { 
  background: url('/assets/img/arrow_right.png');
  background-size: 5px 11px;
  background-repeat: no-repeat;
  background-position: center;
}