:host {
  display: block;
  min-width: var(--main-width);
  background: #d8d8d8;
}

section {
  text-align: center;
}

h1 {
  display: block;
  font-size: 1.5em;
  font-weight: 400;
  margin: 2em 0 0.5em 0;
  text-align: center;
}

#subBar {
  display: flex;
  justify-content: space-between;
}

#dateSelector {
  width: 146px;
  flex: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  flex: 1;
  margin: 0;
}

.side {
  width: 100px;
  flex: none;
}

h3 {
  font-size: 0.9em;
}

.more {
  cursor: pointer;
}

.more:after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  box-sizing: border-box;
  background: url('/assets/img/next.svg');
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position-y: bottom;
}

.contents {
  width: 956px;
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  padding: 0;
  margin-top: 1em;
}

:host /deep/ .contents>* {
  width: 270px !important;
  margin-top: 5em !important;
}

:host /deep/ .card:before {
  display: block;
  position: relative;
  width: 100%;
  height: 4em;
  font-size: 1.2em;
  line-height: 400%;
  padding: 0.4em;
  margin-top: -4em;
  color: #333;
  text-align: center;
  box-sizing: border-box;
}

:host /deep/ .first.card:before {
  content: '1위';
}

:host /deep/ .second.card:before {
  content: '2위';
}

:host /deep/ .third.card:before {
  content: '3위';
}

.btnNav {
  width: 0.5em;
  height: 2em;
  flex: none;
  border: none;
  outline: none;
}

#btnLeft {
  background: url('/assets/img/back.svg');
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#btnRight {
  background: url('/assets/img/next.svg');
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: center;
}