:host {
  display: block;
  min-width: var(--main-width);
}

section {
  width: var(--main-width);
  margin: var(--main-margin);
  padding: 100px 0;
  text-align: center;
}

.grey {
  background: #d8d8d8;
}

section>.contentsBox {
  display: flex;
  overflow: hidden;
}

h1 {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 40px 0;
  text-align: center;
}

app-select-filtering {
  margin-right: 80px;
}

.contents {
  width: 940px;
  min-height: 583px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@keyframes introCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contents /deep/ .card {
  opacity: 1;
  animation: introCard 0.5s;
  animation-fill-mode: both;
  transition: opacity 1s;
}

app-card {
  margin-top: 1em;
}

.btnNav {
  width: 20px;
  height: 42px;
  flex: none;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 270px;
  opacity: 0.2;
  transition: opacity 0.5s;
  outline: none;
}

.btnNav:hover {
  opacity: 1;
}

.btnNav.nope,
.btnNav.nope:hover {
  opacity: 0;
  pointer-events: none;
}

#btnLeft {
  background: url('/assets/img/arrow_left.png');
  background-size: 20px 42px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 60px;
}

#btnRight {
  background: url('/assets/img/arrow_right.png');
  background-size: 20px 42px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 60px;
}

.bunyang .btnNav {
  margin-top: 120px;
}

.bunyang .contents {
  min-height: 285px;
}
