<section>
  <app-group>
    <h1>회원 가입</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="subGroup">
        <label>기본정보
          <br>
          <b> * 필수사항</b>
        </label>
        <article>
          <div class="form-group row">
            <label>아이디 *</label>
            <input class="form-control" type="text" formControlName="ID" placeholder="최소 4글자 최대 15글자" />
            <app-button (click)="confirm($event)" (ngSubmit)="$event.stopPropagation()" [type]="'none'">아이디 확인</app-button>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('ID').hasError('required') && signupForm.get('ID').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('ID').hasError('minlength') && signupForm.get('ID').touched">4 ~ 15글자로 넣어주세요.</div>
          </div>
          <div class="form-group row">
            <label>패스워드 *</label>
            <input class="form-control" type="password" formControlName="Password" placeholder="비밀번호를 입력해 주세요." />
            <div class="blank">특수문자 포함 8 - 12자리</div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('Password').hasError('required') && signupForm.get('Password').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('Password').hasError('minlength') && signupForm.get('Password').touched">8 ~ 12 글자로 넣어주세요.</div>
          </div>
          <!-- <div class="form-group row">
            <label>패스워드 확인 *</label>
            <input class="form-control" type="password" formControlName="confirmPassword" placeholder="비밀번호를 입력해 주세요." />
            <div class="blank"></div>
          </div> -->
          <div class="form-group row">
            <label>성명</label>
            <input class="form-control" type="text" formControlName="Name" placeholder="성명을 입력해 주세요.">
            <div class="blank"></div>
          </div>
          <div class="form-group row">
            <label>핸드폰</label>
            <input class="form-control" type="text" formControlName="CP" placeholder="예) 홍길동">
            <div class="blank"></div>
          </div>
          <div class="form-group row">
            <label>E-Mail</label>
            <input class="form-control" type="text" formControlName="Email" placeholder="연락처를 입력하세요">
            <div class="blank"></div>
          </div>
          <!-- <div class="form-group row">
            <label>신청등급</label>
            <div class="card platinum">
              <div id="level">PLATINUM</div>
              <p>오프라인 모임과 함께 다양한 형태로 정보를 수집하고 분석 할 수 있다.</p>
              <p id="price">10,000원/월</p>
            </div>
            <div class="card premium">
              <div id="level">PREMIUM</div>
              <p>부동산 및 분양 정보를 보다 빠르게 확인하고 수집 할 수 있다.
                <br>
              </p>
              <p id="price">5,000원/월</p>
            </div>
            <div class="card standard">
              <div id="level">STANDARD</div>
              <p>부동산 및 분양 정보를 수집할 수 있다.
                <br>
              </p>
              <p id="price">무료/월</p>
            </div>
          </div> -->
          <div class="form-group row">
            <label>신청등급</label>
            <div class="checkboxGroup">
              <label class="sublabel" for="01">PLATINUM</label>
              <input class="form-control" name="ULevel" id="01" type="radio">
              <label class="sublabel" for="02">PREMIUM</label>
              <input class="form-control" name="ULevel" id="02" type="radio">
              <label class="sublabel" for="03">STANDARD</label>
              <input class="form-control" name="ULevel" id="03" type="radio">
            </div>
          </div>
          <div class="form-group row">
            <label>가입목적</label>
            <div class="checkboxGroup">
              <label class="sublabel" for="11">투자</label>
              <input class="form-control" name="Hope" id="11" type="radio">
              <label class="sublabel" for="12">살거주</label>
              <input class="form-control" name="Hope" id="12" type="radio">
              <label class="sublabel" for="13">모두 해당</label>
              <input class="form-control" name="Hope" id="13" type="radio">
            </div>
          </div>
          <div class="form-group row">
            <label>관심분야</label>
            <div class="checkboxGroup">
              <label class="sublabel" for="21">아파트</label>
              <input class="form-control" name="Site" id="21" type="radio">
              <label class="sublabel" for="22">오피스텔</label>
              <input class="form-control" name="Site" id="22" type="radio">
              <label class="sublabel" for="23">상가/호텔</label>
              <input class="form-control" name="Site" id="23" type="radio">
              <label class="sublabel" for="24">모두 해당</label>
              <input class="form-control" name="Site" id="24" type="radio">
            </div>
          </div>
          <div class="form-group row">
            <label>관심지역</label>
            <input class="form-control" formControlName="Location" type="text" placeholder="예) 서울, 경기 / 도, 시단위로 기입">
          </div>
          <div class="form-group row">
            <label>관심금액</label>
            <input class="form-control" formControlName="Amount" type="text" placeholder="">
          </div>
        </article>
      </div>

      <div class="subGroup">
        <label>선택정보</label>
        <article>
          <div class="form-group row">
            <label>집주소</label>
            <input class="form-control" formControlName="HA" type="text" placeholder="주소를 입력해주세요.">
            <div class="blank"></div>
            <!-- <app-button>주소 검색</app-button> -->
          </div>
          <div class="form-group row">
            <label>집전화번호</label>
            <input class="form-control" formControlName="HP" type="text" placeholder="연락처를 입력하세요.">
            <div class="blank"></div>
          </div>
          <div class="form-group row">
            <label>사무실 주소</label>
            <input class="form-control" formControlName="OA" type="text" placeholder="주소를 입력해주세요.">
            <div class="blank"></div>
            <!-- <app-button>주소 검색</app-button> -->
          </div>
          <div class="form-group row">
            <label>사무실 전화번호</label>
            <input class="form-control" formControlName="OP" type="text" placeholder="연락처를 입력하세요.">
            <div class="blank"></div>
          </div>
          <div class="form-group row">
            <label>정보 수신</label>
            <div class="checkboxGroup">
              <label class="sublabel" for="31">메일</label>
              <input class="form-control" name="InfoA" id="31" type="radio">
              <label class="sublabel" for="32">문자</label>
              <input class="form-control" name="InfoA" id="32" type="radio">
              <label class="sublabel" for="33">미수신</label>
              <input class="form-control" name="InfoA" id="33" type="radio">
            </div>
          </div>
          <div class="form-group row">
            <label>가용자산</label>
            <input class="form-control" formControlName="AAmount" type="text" placeholder="">
            <div class="blank"></div>
          </div>
        </article>
      </div>
      <div id="lastWarning">
        입력하신 내용을 다시한번 확인 하시고,
        <br>가입하기를 눌러주시면 회원가입이 완료됩니다.
      </div>
      <app-button [type]="'submit'">회원 가입 완료</app-button>
    </form>
  </app-group>
</section>
