.naver {
  background: #169E09;
}

.kakao {
  background: #F8E71C;
  color: #333;
}

.facebook {
  background: #30559E;
}

#levelBox {
  padding: 1em 0;
  cursor: default;
}

.card {
  height: auto;
  min-height: auto;
  transition: box-shadow 0.5s, opacity 0.5s;;
  opacity: 1;
  outline: none;
}

.card.notSelected {
  opacity: 0.5;
}

.card:hover, .card:focus {
  box-shadow: 0 0 10px #ccc;
  opacity: 1;
}

.card.checked {
  box-shadow: 0 0 10px #ccc;
  opacity: 1 !important;
}

.platinum {
  border: 1px solid #d8d8d8;
  border-top: 3px solid var(--level-platinum);
}

.premium {
  margin-right: 1em;
  border: 1px solid #d8d8d8;
  border-top: 3px solid var(--level-premium);
}

.standard {
  margin-right: 1em;
  border: 1px solid #d8d8d8;
  border-top: 3px solid var(--level-standard);
}

p {
  padding: 1em;
  font-size: 0.8em;
}

.platinum #level {
  background: var(--level-platinum-gradient);
  font-size: 0.8em;
  padding: 0.5em 1em;
  flex: none;
  flex-basis: 1.5em;
  color: white;
}

.premium #level {
  background: var(--level-premium-gradient);
  font-size: 0.8em;
  padding: 0.5em 1em;
  flex: none;
  flex-basis: 1.5em;
  color: white;
}

.standard #level {
  background: var(--level-standard-gradient);
  font-size: 0.8em;
  padding: 0.5em 1em;
  flex: none;
  flex-basis: 1.5em;
  color: white;
}

#levelBox {
  flex: auto;
}

#price {
  border-top: 1px solid #d8d8d8;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  color: red;
  flex: none;
  flex-basis: 1em;
}
#lastWarning {
  padding: 3em 0 1em 0;
  font-size: 0.9em;
  text-align: center;
  line-height: 200%;
}

.alert {
  color: red;
  font-size: 0.9em;
}

.red {
  color: red;
}

.halfOpacity {
  opacity: 0.3;
  pointer-events: none;
}

input + input,
app-select + app-select {
  margin-left: 0.5em;
}