#levelBox {
  padding: 1em 0;
  cursor: default;
}

.card {
  height: auto;
  min-height: auto;
  transition: box-shadow 0.5s, opacity 0.5s;;
  opacity: 1;
  outline: none;
}

.card.notSelected {
  opacity: 0.5;
}

.card:hover, .card:focus {
  box-shadow: 0 0 10px #ccc;
  opacity: 1;
}

.card.checked {
  box-shadow: 0 0 10px #ccc;
  opacity: 1 !important;
}

.platinum {
  border: 1px solid #d8d8d8;
  border-top: 3px solid var(--level-platinum);
}

.premium {
  margin-right: 1em;
  border: 1px solid #d8d8d8;
  border-top: 3px solid var(--level-premium);
}

.standard {
  margin-right: 1em;
  border: 1px solid #d8d8d8;
  border-top: 3px solid var(--level-standard);
}

p {
  padding: 1em;
  font-size: 0.8em;
  flex: none;
  height: 7em;
}

.platinum #level {
  background: var(--level-platinum-gradient);
  font-size: 0.8em;
  padding: 0.5em 1em;
  flex: none;
  flex-basis: 1.5em;
  color: white;
}

.premium #level {
  background: var(--level-premium-gradient);
  font-size: 0.8em;
  padding: 0.5em 1em;
  flex: none;
  flex-basis: 1.5em;
  color: white;
}

.standard #level {
  background: var(--level-standard-gradient);
  font-size: 0.8em;
  padding: 0.5em 1em;
  flex: none;
  flex-basis: 1.5em;
  color: white;
}

#levelBox {
  flex: auto;
}

#price {
  border-top: 1px solid #d8d8d8;
  padding: 1em;
  text-align: center;
  font-size: 1em;
  color: red;
  flex: none;
  height: 3em;
}
#lastWarning {
  padding: 3em 0 1em 0;
  font-size: 0.9em;
  text-align: center;
  line-height: 200%;
}

.alert {
  color: red;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

.halfOpacity {
  opacity: 0.3;
  pointer-events: none;
}

input + input,
app-select + app-select {
  margin-left: 0.5em;
}

article .row {
  justify-content: space-between;
}

:host /deep/ app-social-button {
  width: 222px;
  flex: none !important;
}
/* app-social-button /deep/ button {
  width: 222px;
} */

app-social-button + app-social-button {
  margin-left: 0.5em;
}

article app-button {
  /* flex: none !important; */
  /* width: 180px !important; */
  margin-left: 10px !important;
}

.form-control {
  z-index: 1;
}

.naverIdLogin {
  display: none;
}