<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<section>
  <app-group>
    <h1>회원 가입</h1>
    <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate> -->
    <form [formGroup]="signupForm" novalidate>
      <article>
        <div class="form-group row">
          <label>가입 정보</label>
          <app-social-button [type]="'google'" (click)="setLoginType('google')">We2Win 로그인</app-social-button>
          <!-- <div id="naverIdLogin"></div> -->
          <!-- <app-social-button id="naverIdLogin" [type]="'naver'" (click)="setLoginType('naver')">네이버 로그인</app-social-button> -->
          <a id="btnNaver"><app-social-button id="naverIdLogin" [type]="'naver'" (click)="setLoginType('naver')">네이버 로그인</app-social-button></a>
          <app-social-button [type]="'kakao'" (click)="setLoginType('kakao')">카카오 로그인</app-social-button>
        </div>
      </article>
      <div class="subGroup" [ngClass]="{'halfOpacity': loginType === ''}">
        <label>기본 정보
          <br>
          <b class="red"> * 필수사항</b>
        </label>
        <article>
          <div class="form-group row">
            <label>아이디
              <b class="red">*</b>
            </label>
            <input class="form-control" type="text" formControlName="u-id" #uId placeholder="최소 4글자 최대 15글자" (change)="checkId=false"
              (keyup)="$event.keyCode == 13 && hasId($event)" />
            <app-button (click)="hasId($event)" (ngSubmit)="$event.stopPropagation()" [type]="'none'" *ngIf="loginType==='google'">아이디 확인</app-button>
            <div class="blank" *ngIf="loginType!=='google'"></div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('u-id').hasError('required') && signupForm.get('u-id').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('u-id').hasError('minlength') && signupForm.get('u-id').touched">4 ~ 15글자로 넣어주세요.</div>
          </div>
          <div class="form-group row">
            <label>패스워드
              <b class="red">*</b>
            </label>
            <input class="form-control" type="password" formControlName="password" #password placeholder="비밀번호를 입력해 주세요." pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&$+$-])[A-Za-z\d$@$!%*#?&$+$-]{8,12}$"
            />
            <div class="blank">특수문자, 숫자 포함 8 - 12자리</div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('password').hasError('minlength') && signupForm.get('password').touched">8 ~ 12 글자로 넣어주세요.</div>
            <div *ngIf="signupForm.get('password').hasError('pattern') && !signupForm.get('password').hasError('minlength')">특수문자, 숫자 포함 8 ~ 12 글자로 넣어주세요.</div>
          </div>
          <div class="form-group row">
            <label>패스워드 확인
              <b class="red">*</b>
            </label>
            <input class="form-control" type="password" formControlName="passwordV" #passwordV placeholder="비밀번호를 다시한번 입력해 주세요." />
            <div class="blank"></div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('passwordV').hasError('required') && signupForm.get('passwordV').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('passwordV').hasError('minlength') && signupForm.get('passwordV').touched">8 ~ 12 글자로 넣어주세요.</div>
          </div>
          <!-- <div class="form-group row">
            <label>패스워드 확인<b class="red">*</b></label>
            <input class="form-control" type="password" formControlName="confirmPassword" placeholder="비밀번호를 입력해 주세요." />
            <div class="blank"></div>
          </div> -->
          <div class="form-group row">
            <label>성명
              <b class="red">*</b>
            </label>
            <input class="form-control" type="text" formControlName="name" #name placeholder="예) 홍길동">
            <div class="blank"></div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('name').hasError('required') && signupForm.get('name').touched">필수 입력사항입니다.</div>
          </div>
          <div class="form-group row">
            <label>핸드폰
              <b class="red">*</b>
            </label>
            <input class="form-control" type="text" formControlName="cp" (change)="setHyphen('cp')" placeholder="예) 010-000-0000">
            <div class="blank"></div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('cp').hasError('required') && signupForm.get('cp').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('cp').hasError('minlength') && signupForm.get('cp').hasError('required') && signupForm.get('cp').touched">올바른 번호를 입력해주세요.</div>
            <div *ngIf="signupForm.get('cp').hasError('maxlength') && signupForm.get('cp').hasError('required') && signupForm.get('cp').touched">올바른 번호를 입력해주세요.</div>
          </div>
          <div class="form-group row">
            <label>E-Mail
              <b class="red">*</b>
            </label>
            <input class="form-control" type="text" formControlName="email" #email placeholder="예) youremail@we2win.com">
            <div class="blank"></div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched">필수 입력사항입니다.</div>
            <div *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched">이메일 형식에 맞게 입력해주세요.</div>
          </div>
          <div id="levelBox" class="form-group row">
            <label>신청 등급
              <b class="red">*</b>
            </label>
            <div class="card standard" [ngClass]="{'checked': level === 'STANDARD', 'notSelected': level !== undefined}" (click)="setLevel(1)"
              (keydown)="setLevelOnKeyDown(1, $event)" tabindex="0">
              <div id="level">STANDARD</div>
              <p>부동산 및 분양 정보를 수집할 수 있다.</p>
              <p id="price">무료</p>
            </div>
            <div class="card premium" [ngClass]="{'checked': level === 'PREMIUM', 'notSelected': level !== undefined}" (click)="setLevel(2)"
              (keydown)="setLevelOnKeyDown(2, $event)" tabindex="0">
              <div id="level">PREMIUM</div>
              <p>부동산 및 분양 정보를 보다 빠르게 확인하고 수집 할 수 있다. </p>
              <p id="price">5,000원/월</p>
            </div>
            <div class="card platinum" [ngClass]="{'checked': level === 'PLATINUM', 'notSelected': level !== undefined}" (click)="setLevel(3)"
              (keydown)="setLevelOnKeyDown(3, $event)" tabindex="0">
              <div id="level">PLATINUM</div>
              <p>오프라인 모임과 함께 다양한 형태로 정보를 수집하고 분석 할 수 있다.
                <br>
              </p>
              <p id="price">10,000원/월</p>
            </div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('level').hasError('required') && signupForm.get('level').touched">필수 입력사항입니다.</div>
          </div>
          <!-- <div class="form-group row" [hidden]="'true'">
            <label></label>
            <div class="checkboxGroup">
              <label class="sublabel">STANDARD
              <input class="form-control" formControlName="level" value="01" type="radio"></label>
              <label class="sublabel">PREMIUM
              <input class="form-control" formControlName="level" value="02" type="radio"></label>
              <label class="sublabel">PLATINUM
              <input class="form-control" formControlName="level" value="03" type="radio"></label>
            </div>
          </div> -->
          <div class="form-group row">
            <label>가입 목적
              <b class="red">*</b>
            </label>
            <div class="checkboxGroup">
              <label class="sublabel" for="11">투자</label>
              <input class="form-control" formControlName="hope" name="hope" value="1" id="11" type="radio">
              <label class="sublabel" for="12">실거주</label>
              <input class="form-control" formControlName="hope" name="hope" value="2" id="12" type="radio">
              <label class="sublabel" for="13">모두 해당</label>
              <input class="form-control" formControlName="hope" name="hope" value="3" id="13" type="radio">
            </div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('hope').hasError('required') && signupForm.get('hope').touched">필수 입력사항입니다.</div>
          </div>
          <div class="form-group row">
            <label>관심 분야
              <b class="red">*</b>
            </label>
            <div class="checkboxGroup">
              <label class="sublabel" for="21">아파트</label>
              <input class="form-control" formControlName="site" name="site" value="1" id="21" type="radio">
              <label class="sublabel" for="22">오피스텔</label>
              <input class="form-control" formControlName="site" name="site" value="2" id="22" type="radio">
              <label class="sublabel" for="23">상가/호텔</label>
              <input class="form-control" formControlName="site" name="site" value="3" id="23" type="radio">
              <label class="sublabel" for="24">토지</label>
              <input class="form-control" formControlName="site" name="site" value="4" id="24" type="radio">
              <label class="sublabel" for="25">모두 해당</label>
              <input class="form-control" formControlName="site" name="site" value="5" id="25" type="radio">
            </div>
          </div>
          <div class="row alert">
            <label></label>
            <div *ngIf="signupForm.get('site').hasError('required') && signupForm.get('site').touched">필수 입력사항입니다.</div>
          </div>
          <div class="form-group row">
            <label>관심 지역
              <b class="red">*</b>
            </label>
            <app-select #location1 [type]="'관심지역'"></app-select>
            <app-select #location2 [type]="'관심지역'"></app-select>
            <!-- <app-select [type]="'관심지역'" class="form-control" formControlName="location"></app-select> -->
            <div class="blank"></div>
          </div>
          <div class="row alert">
            <label></label>
            <!-- <div *ngIf="location1.selected">1번째 지역을 선택하지 않으셨습니다.</div> -->
            <!-- <div *ngIf="location2.selected">2번째 지역을 선택하지 않으셨습니다.</div> -->
          </div>
          <div class="form-group row">
            <label>관심 매물
              <b class="red">*</b>
            </label>
            <app-select #amount [type]="'관심금액'"></app-select>
            <!-- <app-select [type]="'관심금액'" class="form-control" formControlName="amount"></app-select> -->
            <div class="blank"></div>
          </div>
          <div class="row alert">
            <label></label>
            <!-- <div *ngIf="signupForm.get('amount').hasError('required') && signupForm.get('u-amount').touched">필수 입력사항입니다.</div> -->
          </div>
        </article>
      </div>

      <div class="subGroup" [ngClass]="{'halfOpacity': loginType === ''}">
        <label>선택 정보</label>
        <article>
          <div class="form-group row">
            <label>집주소</label>
            <input readonly class="form-control" type="text" formControlName="ha" [placeholder]="fullRoadAddr">
            <app-button type="button" (click)="execDaumPostcode('ha')">주소 찾기</app-button>
          </div>
          <div class="form-group row" *ngIf="">
            <label></label>
            <input type="text" [placeholder]="zonecode" (click)="execDaumPostcode()">
            <input class="form-control" type="text" [placeholder]="jibunAddress">
          </div>
          <div class="form-group row">
            <span id="guide" style="color:#999"></span>
          </div>
          <div class="form-group row">
            <label>집전화번호</label>
            <input class="form-control" formControlName="hp" type="text" placeholder="연락처를 입력하세요.">
            <div class="blank"></div>
          </div>
          <div class="form-group row">
            <label>사무실 주소</label>
            <input readonly class="form-control" type="text" formControlName="oa" [placeholder]="fullRoadAddr">
            <app-button type="button" (click)="execDaumPostcode('oa')">주소 찾기</app-button>
            <!-- <input class="form-control" formControlName="oa" type="text" placeholder="주소를 입력해주세요."> -->
            <!-- <div class="blank"></div> -->
            <!-- <app-button>주소 검색</app-button> -->
          </div>
          <div class="form-group row">
            <label>사무실 전화번호</label>
            <input class="form-control" formControlName="op" type="text" placeholder="연락처를 입력하세요.">
            <div class="blank"></div>
          </div>
          <div class="form-group row">
            <label>정보 수신</label>
            <div class="checkboxGroup">
              <label class="sublabel" for="31">메일</label>
              <input class="form-control" name="info-a" id="31" type="radio">
              <label class="sublabel" for="32">문자</label>
              <input class="form-control" name="info-a" id="32" type="radio">
              <label class="sublabel" for="33">미수신</label>
              <input class="form-control" name="info-a" id="33" type="radio">
              <label class="sublabel" for="33">모두 해당</label>
              <input class="form-control" name="info-a" id="34" type="radio">
            </div>
          </div>
          <div class="form-group row">
            <label>가용 자산</label>
            <app-select #asset [type]="'가용자산'"></app-select>
            <!-- <select class="form-control" name="AAmount">
              <option>2000만원</option>
              <option>5000만원</option>
              <option>1억</option>
              <option>3억</option>
              <option>5억 이상</option>
            </select> -->
            <div class="blank"></div>
          </div>
        </article>
      </div>
      <div id="lastWarning" [ngClass]="{'halfOpacity': loginType === ''}">
        입력하신 내용을 다시한번 확인 하시고,
        <br>가입하기를 눌러주시면 회원가입이 완료됩니다.
      </div>
      <app-button [type]="'submit'" (click)="onSubmit()" [ngClass]="{'halfOpacity': loginType === ''}">회원 가입 완료</app-button>
    </form>
  </app-group>
</section>
