:host {
  display: block;
  min-width: var(--main-width);
  /* background: url('/assets/img/bg_title_banner.png'); */
  background-color: linear-gradient(#666, #333);
  color: white;
  text-align: center;
}

:host(.info) {
  background: url('/assets/img/key_info.png');
}

:host(.site) {
  background: url('/assets/img/key_site.png');
}

:host(.employee) {
  background: url('/assets/img/key_employee.png');
}

:host(.employer) {
  background: url('/assets/img/key_employer.png');
}

:host(.meeting) {
  background: url('/assets/img/key_meeting.png');
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding: 3em 0 0.5em 0;
}

h2 {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
}

input {
  width: 463px;
  font-size: 1.2em;
  margin: 1em 2em;
  padding: 0.7em 1em;
  box-sizing: border-box;
}

#search {
    display: inline-block;
    margin: 0em 8.5em 0em -8.5em;
    width: 2.5em;
    height: 2em;
    background: url('/assets/img/search.png');
    background-size: 2em;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}
