@keyframes changeBg {
  from {
    background-size: auto 150%;
  }
  to {
    background-size: auto 100%;
  }
}

:host {
  display: block;
  min-width: var(--main-width);
  /* background: url('/assets/img/bg_title_banner.png'); */
  background: url('/assets/img/key_basic.png');
  background-color: linear-gradient(#666, #333);
  text-align: center;
  color: #333;
}

:host(.info) {
  background: url('/assets/img/key_info.jpg');
  background-position-x: 50%;
  color: white;
  text-shadow: 0 0 0.5em #000;
  animation: changeBg 1s;
}

:host(.site) {
  background: url('/assets/img/key_site.jpg');
  background-position-x: 50%;
  color: white;
  text-shadow: 0 0 0.5em #000;
  animation: changeBg 1s;
}

:host(.employee) {
  background: url('/assets/img/key_employee.jpg');
  background-position-x: 50%;
  color: white;
  text-shadow: 0 0 0.5em #000;
  animation: changeBg 1s;
}

:host(.employer) {
  background: url('/assets/img/key_employer.jpg');
  background-position-x: 50%;
  color: white;
  text-shadow: 0 0 0.5em #000;
  animation: changeBg 1s;
}

:host(.meeting) {
  background: url('/assets/img/key_meeting.jpg');
  background-position-x: 50%;
  color: white;
  text-shadow: 0 0 0.5em #000;
  animation: changeBg 1s;
}

:host(.search) {
  color: black;
  text-shadow: none;
}

section {
  padding-top: 120px;
  padding-bottom: 60px;
}

h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 10px 0;
}

h2 {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  text-shadow: 0 0 0.5em #000;
}

input {
  width: 463px;
  height: 60px;
  font-size: 1.2em;
  margin: 1em 0;
  padding: 0.7em 1em;
  box-sizing: border-box;
  color: black;
  border: 2px solid #ccc;
}

#searchBox:after {
  display: inline-block;
  content: '';
  position: relative;
  top: 7px;
  margin: 0 20px 0 -50px;
  width: 30px;
  height: 30px;
  background: url('/assets/img/search.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}
