<section>
  <app-group>
    <h1>회원 가입</h1>
    <article>
      <div class="row">
        <label>회원가입 동의</label>
        <pre [innerHTML]="useContent"> </pre>
      </div>
    </article>

    <article>
      <div class="row">
        <label>개인정보 수집 및
          <br>이용 동의</label>
        <pre [innerHTML]="privacyContent"> </pre>
      </div>
    </article>
    <div class="row">
      <label></label>
      <input id="agree1" type="checkbox" [checked]="agree1" (change)="agree1 = !agree1">
      <label class="sublabel left" for="agree1">회원가입 동의약관을 읽었으며, 이에 동의합니다.</label>
    </div>
    <div class="row">
      <label></label>
      <input id="agree2" type="checkbox" [checked]="agree2" (change)="agree2 = !agree2">
      <label class="sublabel left" for="agree2">개인정보 수집 및 이용 동의에 관한 사항을 읽었으며, 이에 동의 합니다.</label>
    </div>
    <app-button (click)="checkAgreement();">회원 가입하기</app-button>
  </app-group>
</section>
