<div class="namecard p" (click)="viewPopup();">
  <h3>{{ record['R-part-name'] }}</h3>
  <div>
    <h1>{{ record['R-location-name'] }}</h1>
    <!-- <h1>{{ record['R-manager-name'].split(' ')[0] }}</h1> -->
    <!-- <h2>{{ record['R-manager-name'].split(' ')[1] }}</h2> -->
  </div>
  <div class="flex">
    <h4>성&nbsp;&nbsp;&nbsp;&nbsp;명</h4>
    <p>{{ record['R-manager-name'] }}</p>
  </div>
  <div class="flex">
    <h4>소재지</h4>
    <p>{{ record['R-location-address'] }}</p>
  </div>
  <div class="flex">
    <h4>연락처</h4>
    <p class="hp">{{ record['R-HP'] }}</p>
  </div>
</div>

<app-popup>
  <h1>구인 상세보기</h1>
  <div>
    <li>
      <h2>{{ record['R-part-name'] }}</h2>
      <h3>{{ record['R-manager-name'] }}</h3>
    </li>
    <li>
      <h2>현장명</h2>
      <h3>{{ record['R-location-name'] }}</h3>
    </li>
    <li>
      <h2>소재지</h2>
      <h3>{{ record['R-location-address'] }}</h3>
    </li>
  </div>

  <h4>구인 요건</h4>
  <div>
    <li>
      <h5>업무</h5>
      <p>{{ record['R-part-name'] }}</p>
    </li>
    <li>
      <h5>업무 내용</h5>
      <p [innerHtml]="record['R-part-description']"></p>
    </li>
    <li>
      <h5>나이</h5>
      <p>{{ record['R-age-start'] + '-' + record['R-age-end'] }}</p>
    </li>
    <li>
      <h5>응시 요건</h5>
      <p>{{ record['R-requirement'] }}</p>
    </li>
    <li>
      <h5>모집인원</h5>
      <p>{{ record['R-personnel'] }}명</p>
    </li>
    <li>
      <h5>채용 방법</h5>
      <p>{{ record['R-method'] }}</p>
    </li>
    <li>
      <h5>모집 기간</h5>
      <p>{{ record['R-apply-start'].slice(0, 10) + '~' + record['R-apply-end'].slice(0, 10) }}</p>
    </li>
    <li>
      <h5>상세요건</h5>
      <p [innerHtml]="record['R-detail']"></p>
    </li>
  </div>

  <h4>현장 정보</h4>
  <div>
    <li>
      <h5>현장명</h5>
      <p>{{ record['R-location-name'] }}</p>
    </li>
    <li>
      <h5>소재지</h5>
      <p>{{ record['R-location-address'] }}</p>
    </li>
    <li>
      <h5>담당자 정보</h5>
      <p>{{ record['R-manager-name'] }}</p>
    </li>
    <li>
      <h5>전화</h5>
      <p>{{ record['R-HP'] }}</p>
    </li>
    <li>
      <h5>핸드폰</h5>
      <p>{{ record['R-CP'] }}</p>
    </li>
  </div>
</app-popup>