<div class="namecard p" (click)="viewPopup();">
  <h3>오피스텔</h3>
  <div>
    <h1>김철수</h1>
    <h2>본부장</h2>
  </div>
  <div>
    <h4>현장명</h4>
    <p>동탄 2기 현대힐스테이트 2차</p>
  </div>
  <div>
    <h4>소재지</h4>
    <p>2동탄 01 블럭</p>
  </div>
  <div>
    <h4>연락처</h4>
    <p class="hp">010-****-3478</p>
  </div>
</div>

<app-popup>
  <h1>구인 상세보기</h1>
  <div>
    <li>
      <h2>오피스텔</h2>
      <h3>김철수 본부장</h3>
    </li>
    <li>
      <h2>현장명</h2>
      <h3>동탄 2기 현대힐스테이트 2차</h3>
    </li>
    <li>
      <h2>소재지</h2>
      <h3>동탄 01블럭</h3>
    </li>
  </div>

  <h4>구인 요건</h4>
  <div>
    <li>
      <h5>업무</h5>
      <p>분양</p>
    </li>
    <li>
      <h5>업무 내용</h5>
      <p>홍보 분양</p>
    </li>
    <li>
      <h5>나이</h5>
      <p>20 - 40</p>
    </li>
    <li>
      <h5>응시 요건</h5>
      <p>상가 분양 경력자</p>
    </li>
    <li>
      <h5>모집인원</h5>
      <p>9명</p>
    </li>
    <li>
      <h5>채용 방법</h5>
      <p>전화 후 면접</p>
    </li>
    <li>
      <h5>모집 기간</h5>
      <p>2017. 12. 09 ~ 2018. 01. 09</p>
    </li>
    <li>
      <h5>상세요건</h5>
      <pre>반갑습니다.<br>분양 일을 천직으로 알고...</pre>
    </li>
  </div>

  <h4>현장 정보</h4>
  <div>
    <li>
      <h5>현장명</h5>
      <p>동탄 2기 현대힐스테이트 2차</p>
    </li>
    <li>
      <h5>소재지</h5>
      <p>동탄 01블럭</p>
    </li>
    <li>
      <h5>담당자 정보</h5>
      <p>김철수 본부장</p>
    </li>
    <li>
      <h5>전화</h5>
      <p>02 - 123 - 4567</p>
    </li>
    <li>
      <h5>핸드폰</h5>
      <p>010 - 1234 - 5678</p>
    </li>
  </div>
</app-popup>
