#top {
  padding: 2em;
  background: url('/assets/img/news_sample.png')
}

#top #levelBar {
  width: 150px;
  padding: 0.5em 1em;
  margin: 0;
  background: var(--level-platinum-gradient);
  color: white;
}

#top h1 {
  margin: 3em 0;
  color: white;
}

#optionBar {
  display: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  text-align: right;
  padding: 1em 2em 0 2em;
}

#optionBar img {
  margin: 0 1em;
}

#optionBar img + #optionBar img {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.part {
  border-top: 1px solid #999;
  display: flex;
  padding: 1em 2em;
}

.part h2 {
  width: 200px;
  font-size: 0.8em;
  flex: none;
}

.part .description {
  flex: 1;
  font-size: 0.8em;
}

.part li {
  display: flex;
  padding: 0 0 1em 0;
}

.part li+li {
  border-top: 1px solid #d8d8d8;
  padding-top: 1em;
}

.part li#submit {
  border-top: 1px solid #999;
}

.part li h3 {
  width: 150px;
  padding-left: 0.5em;
}

.part li p {
  flex: 1;
}

.part textarea {
  flex: 1;
  min-height: 4em;
  font-size: 1em;
  padding: 0.5em 1em;
  border: 1px solid #999;
  resize: vertical;
}

.part app-button {
  width: 100px;
  margin: 0;
}

.cardList {
  display: flex;
  justify-content: space-between;
}

