@keyframes showDetail {
  from {
    opacity: 0;
    margin-top: -3em;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.loader {
  display: none;
  font-size: 1.5em;
  padding: 25vh 0;
  text-align: center;
  color: #666;
}

.loader.loading {
  display: block;
}

.hasData {
  opacity: 1;
  animation: showDetail 1s;
  animation-fill-mode: forwards;
}

section {
  opacity: 0;
}

#background {
  position: relative;
  margin-bottom: -400px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}
#top {
  height: 400px;
  padding: 30px;
  z-index: 2;
  box-sizing: border-box;
  /* background: url('/assets/img/news_sample.png'); */
  /* background-size: cover; */
}

#top #levelBar {
  width: 110px;
  height: 25px;
  font-size: 10px;
  line-height: 25px;
  margin: 0;
  padding: 0 5px;
  color: white;
}

:host.platinum #levelBar {
  background: linear-gradient(35deg, rgba(213, 177, 94, 1.0), rgba(187, 141, 34, 0.6), rgba(187, 141, 34, 0.2));
  /* background: var(--level-platinum-gradient); */
}

:host.premium #levelBar {
  background: linear-gradient(35deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  /* background: var(--level-premium-gradient); */
}

:host.standard #levelBar {
  background: linear-gradient(35deg, rgb(175, 175, 175), rgba(175, 175, 175, 0.6), rgba(175, 175, 175, 0.2));
  /* background: var(--level-standard-gradient); */
}

#top h1 {
  font-size: 32px;
  margin: 80px 0 110px 0;
  width: 16em;
  word-wrap: break-word;
  white-space: normal;
  height: 80px;
  line-height: 130%;
  color: white;
}

#optionBar {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

#optionBar span {
  flex: none;
  height: 15px;
  padding: 0 21px;
  transition: transform 0.5s;
  transform: scale(1);
  cursor: pointer;
}

#optionBar span:hover {
  transform: scale(1.5);
}

#optionBar #bookmark {
  width: 11px;
  background-image: url('/assets/img/icon_bookmark_black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#optionBar #bookmark.selected {
  background: url('/assets/img/icon_bookmark_black_selected.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#optionBar #facebook {
  width: 7px;
  background-image: url('/assets/img/icon_facebook_black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#optionBar #facebook.selected {
  background: url('/assets/img/icon_bookmark_black_selected.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

app-group /deep/ article {
  border-top: 1px solid #ccc;
  display: flex;
  padding: 20px 0;
}

app-group /deep/ article label {
  width: 240px;
  font-size: 14px;
  line-height: 150%;
  font-weight: bold;
  flex: none;
}

app-group /deep/ article p,
app-group /deep/ article span {
  font-size: 14px;
  line-height: 150%;
  padding: 0;
}

.part .description {
  flex: 1;
  font-size: 14px;
}

.part li {
  display: flex;
  padding: 0 0 1em 0;
}

.part li+li {
  border-top: 1px solid #d8d8d8;
  padding-top: 1em;
}

.part li#submit {
  border-top: 1px solid #999;
}

.part li h3 {
  width: 150px;
  padding-left: 0.5em;
}

.part li p {
  flex: 1;
}

.part textarea {
  flex: 1;
  min-height: 4em;
  font-size: 1em;
  padding: 0.5em 1em;
  border: 1px solid #999;
  resize: vertical;
}

.part app-button {
  width: 100px;
  margin: 0;
}

.cardList {
  display: flex;
  justify-content: space-between;
}

.lastArticle {
  padding-bottom: 0;
}

.editorContainer {
  overflow: hidden;
}

.editorContainer p {
  min-height: 8em;
}

.editorContainer span {
  font-size: 14px;
  font-weight: 300;
}

.editorContainer:after {
  content: '';
  display: block;
  position: relative;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

.editorContainer.noHide:after {
  background: none;
}

/* app-popup /deep/ #popupBox {
  left: 30vw;
  width: 673px;
  padding: 30px;
} */

app-popup /deep/ h1 {
  padding: 0;
  margin: 1em 0 2em 0;
}

app-popup /deep/ span,
app-popup /deep/ p {
  font-size: 14px;
  font-weight: 300;
}

app-popup /deep/ .row+.row {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

app-popup /deep/ label {
  margin-left: 1em;
}
