<section>
  <img id="background" #background>
  <div id="top" #top>
    <div id="levelBar" [ngClass]="Data['N-level']">
      {{Data['N-level']}}
    </div>
    <h1>{{Data['N-title']}}</h1>
    <div id="optionBar">
      <img src="/assets/img/icon_bookmark.png" />
      <img src="/assets/img/icon_facebook.png" />
    </div>
  </div>
  <app-group>
    <article>
      <div class="row">
        <label>{{Data['N-sub-title']}}</label>
        <p [innerHtml]="Data['N-sub-description']"></p>
      </div>
    </article>
    <article>
      <div class="row">
        <label>{{Data['N-analysis-title']}}</label>
        <p [innerHtml]="Data['N-analysis-description']"></p>
      </div>
    </article>
    <article>
      <div class="row">
        <label>관련 부동산 뉴스</label>
        <div class="row flex">
          <ng-container appRankingpost></ng-container>
        </div>
      </div>
    </article>
  </app-group>
</section>
