<section>
  <img id="background" #background>
  <div id="top" #top>
    <div id="levelBar" [ngClass]="Data['level']">
      {{Data['level']}}
    </div>
    <h1>{{Data['title']}}</h1>
    <div id="optionBar">
      <img id="bookmark" (click)="bookmark();" src="/assets/img/icon_bookmark.png" />
      <img (click)="fbShare();" src="/assets/img/icon_facebook.png" />
    </div>
  </div>
  <app-group>
    <article>
      <div class="row">
        <label>{{Data['main-title']}}
          <p class="more" (click)="showMore(mainDetail)">더보기 ></p>
        </label>
        <div class="editorContainer">
          <p class="shortener" [innerHtml]="Data['main-description']"></p>
        </div>
      </div>
    </article>
    <article>
      <div class="row">
        <label>{{Data['analysis-title']}}
          <p class="more" (click)="showMore(analysisDetail)">더보기 ></p>
        </label>
        <div class="editorContainer">
          <p class="shortener" [innerHtml]="Data['analysis-description']"></p>
        </div>
      </div>
    </article>
    <article class="lastArticle">
      <div class="row">
        <label>관련 부동산 뉴스</label>
        <div class="row flex">
          <ng-container appRankingpost></ng-container>
        </div>
      </div>
    </article>
  </app-group>
</section>

<app-popup #mainDetail>
  <h1>{{Data['main-title']}}</h1>
  <p [innerHtml]="Data['main-description']"></p>
</app-popup>

<app-popup #analysisDetail>
  <h1>{{Data['analysis-title']}}</h1>
  <p [innerHtml]="Data['analysis-description']"></p>
</app-popup>
