:host {
  display: table;
  width: 100%;
  background: none;
  font-size: 0.9em;
  text-align: center;
  padding: 0;
  /* word-wrap: break-word; */
  /* border-spacing set instead of margin */
  /* border-spacing: 10px; */
  /* border-collapse: separat e; */
}

header {
  display: table-row;
  font-size: 1em;
  line-height: 300%;
  font-weight: normal;
  background: #eee;
}

header .cell {
  display: table-cell;
  padding: 0em 0.3em;
  border-bottom: 1px solid #ddd;
}

.row {
  display: table-row;
}

.row:before {
  display: none;
}

.cell {
  display: table-cell;
  padding: 2em 0.3em;
  border-bottom: 1px solid #ddd;
}

.cell.highlight:before {
  display: block;
  content: '';
  width: 0.5em;
  height: 0.5em;
  background: rgb(12, 95, 30);
  border-radius: 50%;
  margin: -0.5em auto 0.5em auto;
}

.columnGroup {
  display: table-column-group;
}

.column {
  display: table-column;
  color: red;
}

.red {
  color: red;
}

/* .h1:before {
  display: block;
  content: '';
  position: relative;
  width: 2em;
  height: 2em;
  margin-top: -2em;
  margin-left: -2em;
  
  background: #243;
  border-radius: 50%;
  color: white;
} */