:host {
    display: flex;
    min-width: var(--main-width);
    min-height: 100vh;
    flex-direction: column;
}

#container {
    display: flex;
    flex: 1;
    justify-content: center;
}

#contentsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
}