<section>
  <div id="wrapper">
    <app-account-info></app-account-info>

    <nav id="mainMenu">
      <img id="logo" src="/assets/img/logo.png" routerLink="/info" />
      <li *ngFor="let menu of menuTree" routerLink="{{ '/' + menu.path}}" (mouseover)="viewSubMenu(menu.name, $event)">{{ menu.name }}</li>
    </nav>
  </div>
</section>

<ng-container *ngFor="let menu of menuTree">
  <ng-container *ngIf="menu.sub">
    <nav class="subMenu" *ngIf="menu.name === selectedName" (mouseleave)="hideSubMenu(menu.name)">
      <li *ngFor="let submenu of menu.sub" routerLink="{{ '/' + menu.path + '/' + submenu.path }}">{{submenu.name}}</li>
    </nav>
  </ng-container>
</ng-container>
