<section>
  <div id="top">
    <div id="imgNav">
      <div id="levelBar" [class]="Data['I-level'].toLowerCase()">{{Data['I-level']}}</div>
      <img [src]="imgUrl" />
    </div>
    <div>
      <h1>{{Data['I-title']}}</h1>
      <p [innerHtml]="Data['I-summary']"></p>
      <div>
        <label>분양모집일</label>
        <p>{{Data['I-open-start'].slice(0,10)}} - {{Data['I-open-end'].slice(0,10)}}</p>
      </div>
      <div>
        <label>분양가</label>
        <p class="price">{{( Data['I-ammount']* 10000000).toLocaleString() }}원</p>
      </div>
      <app-button>담당자 | {{Data['I-manager-name']}} | {{Data['I-manager-contact']}}</app-button>
    </div>
  </div>
  <app-group>
    <article *ngIf="showCharts">
      <div class="row">
        <label>현장 시세</label>
        <ng-container appMypost></ng-container>
      </div>
    </article>
    <article>
      <div class="row">
        <label>현장 리포트</label>
        <div>
          <p class="shortener" [innerHtml]="Data['I-report']"></p>
          <app-button>더보기</app-button>
        </div>
      </div>
    </article>
    <div class="subGroup">
      <label>현장 사진</label>
      <article>
        <div class="row navigator">
          <img [src]="subImgUrl[1]" (click)="selectImg(1)" />
          <img [src]="subImgUrl[2]" (click)="selectImg(2)" />
          <img [src]="subImgUrl[3]" (click)="selectImg(3)" />
          <img [src]="subImgUrl[4]" (click)="selectImg(4)" />
          <img [src]="subImgUrl[5]" (click)="selectImg(5)" />
        </div>
        <div class="row shower">
          <label> {{selectedNum}} / 5 </label>
          <img [src]="selectedImgUrl" />
        </div>
      </article>
    </div>
    <div class="subGroup">
      <label>현장 댓글</label>
      <article>
        <div class="row" *ngIf="comments.length > 0">
          <label>{{comments[0]['commenter-id']}}</label>
          <p>{{comments[0]['contents']}}</p>
          <span>{{comments[0]['createdAt'].slice(0,10)}}</span>
        </div>
        <div class="row" *ngIf="comments.length > 1">
          <label>{{comments[1]['commenter-id']}}</label>
          <p>{{comments[1]['contents']}}</p>
          <span>{{comments[1]['createdAt'].slice(0,10)}}</span>
        </div>
        <div name="commentBox" class="row">
          <form class="commentForm" (submit)="addComment()">
            <label>{{userInfo['user_id']}}</label>
            <input type="text" class="commentInput" #NewComment>
            <app-button (click)="addComment()">댓글 입력</app-button>
          </form>
        </div>
      </article>
    </div>
    <article>
      <div class="row">
        <label>관련 분양 리포트</label>
        <div class="row flex">
          <ng-container appRankingpost></ng-container>
        </div>
      </div>
    </article>
  </app-group>
</section>
