<div id="header">
  <section id="titleBar">
    <h1>계정 관리</h1>
    <h2 (click)="download();">엑셀 다운로드</h2>
  </section>
</div>

<section>
  <article>
    <header>
      <h1>전체 {{total || '0'}}명</h1>
      <app-select [type]="'회원 등급'" (change)="changeLevel($event)"></app-select>
      <app-select [type]="'금액'" (change)="changeAmount($event)"></app-select>
      <input class="search" type="text" placeholder="아이디 검색" (click)="changeQuery($event)" (keypress)="changeQuery($event)" (change)="changeQuery($event)" />
    </header>
    <app-table [type]="'account'">
      <ng-container appMypost></ng-container>
    </app-table>
    <li class="submitBar">
      <button (click)="sendMail()">메일 보내기</button>
      <button (click)="sendSMS()">SMS 보내기</button>
    </li>
  </article>
</section>
