@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  --company-color: #D4805D;
  --main-font-normal-dark: #ccc;
  --main-bg-color: #232323;
  --main-bg-color-highlight: #434343;
  --main-width: 1100px;
  --main-margin: 0 auto;
  --main-padding: 100px 80px;
  --header-bg-color: var(--main-bg-color);
  --header-border-solid: #aaa;
  --header-font-normal: #aaa;
  --header-font-highlight: #fff;
  --titleBanner-font-normal: var(--main-font-normal-dark);
  --footer-bg-color: var(--main-bg-color);
  --footer-font-normal: #999;
  --footer-font-highlight: #fff;
  --level-platinum: #d5b15e;
  --level-premium: #111111;
  --level-standard: #afafaf;
  --level-admin-gradient: linear-gradient(35deg, rgb(67, 121, 177), rgba(23, 78, 146, 0.6));
  --level-manager-gradient: linear-gradient(35deg, rgb(67, 121, 177), rgba(23, 78, 146, 0.6));
  --level-platinum-gradient: linear-gradient(35deg, rgba(213, 177, 94, 1.0), rgba(187, 141, 34, 0.6), rgba(187, 141, 34, 0.2));
  --level-premium-gradient: linear-gradient(35deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
  --level-standard-gradient: linear-gradient(35deg, rgb(175, 175, 175), rgba(175, 175, 175, 0.6), rgba(175, 175, 175, 0.2));
  /* for submenu position */
  /* overflow-x: hidden; */
}

* {
  outline-color: #D4805D;
  /* outline-color: var(--company-color); */
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

section {
  width: 1100px;
  margin: 0 auto;
  padding: 100px 80px;
  /* width: var(--main-width); */
  /* margin: var(--main-margin); */
  /* padding: var(--main-padding); */
  box-sizing: border-box;
}

header #title {
  flex: 2;
}

input, select {
  width: 220px;
  /* height: 42px; */
  font-size: 0.8em;
  padding: 0.2em 1em;
  margin: 0.25em;
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 150%;
}

li,
ul {
  list-style: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

[hidden] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.document h1{
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.document h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.document h3 {
  font-size: 1.17em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.document h4 {
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.document h5 {
  font-size: 0.83em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.document h6 {
  font-size: 0.67em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.document p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 150%;
}