:host {
  display: table-row;
  line-height: 200%;
  font-size: 0.9em;
  line-height: 300%;
  text-align: center;
}

:host:hover {
  background: #eee;
}

.cell {
  display: table-cell;
  padding: 0em 0.3em;
}

.cell img {
  width: auto;
  height: 1.8em;
  vertical-align: middle;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

