<span class="cell">{{ record['u-id'] }}</span>
<span class="cell">{{ record['name'] }}</span>
<span class="cell">{{ record['email'] }}</span>
<span class="cell">
    <li *ngIf="record['level']==='STANDARD'" class="standard">STANDARD</li>
    <li *ngIf="record['level']==='PREMIUM'" class="premium">PREMIUM</li>
    <li *ngIf="record['level']==='PLATINUM'" class="platinum">PLATINUM</li>
    <li *ngIf="record['level']==='MANAGER'" class="manager">MANAGER</li>
    <li *ngIf="record['level']==='ADMIN'" class="admin">ADMIN</li>
</span>
<span class="cell">{{ record['point'] }}</span>
<span class="cell">{{ record['amount'] }}</span>
<span class="cell" *ngIf="record['level-start']">{{ record['level-start'] + ' ~ ' + record['level-end'] }}</span>
<span class="cell" *ngIf="!record['level-start']">무제한</span>