<section>
  <div class="particle">
    <div id="titleBar">
      <app-select>회원등급</app-select>
      <app-select>금액</app-select>
      <input type="text" placeholder="아이디 검색"/>
    </div>
    <div class="lTable">
      <div class="lTableColumn1"></div>
      <div class="lTableColumn2"></div>
      <div class="lTableRow">
        <div class="lTableHead">
          <input type="checkbox" />
        </div>
        <div class="lTableHead">아이디</div>
        <div class="lTableHead">이름</div>
        <div class="lTableHead">이메일</div>
        <div class="lTableHead">등급</div>
        <div class="lTableHead">금액</div>
        <div class="lTableHead">사용기간</div>
      </div>
      <div class="lTableRow">
        <div class="lTableCell">
          <input type="checkbox" />
        </div>
        <div class="lTableCell">Christian_Red</div>
        <div class="lTableCell">이유정</div>
        <div class="lTableCell">Christian_red@hanmail.net</div>
        <div class="lTableCell">STANDARD</div>
        <div class="lTableCell">30,000</div>
        <div class="lTableCell">2017.12.31 - 2018.12.30</div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="particle">
      <div id="titleBar">
        <span id="title">인기 컨텐츠 | 클릭</span>
        <span id="date">2017. 12</span>
      </div>
    </div>
    <div class="particle">
      <div id="titleBar">
        <span id="title">인기 컨텐츠 | 스크랩</span>
        <span id="date">2017. 12</span>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="particle">
      <div id="titleBar">
        <span id="title">인기 컨텐츠 | 댓글</span>
        <span id="date">2017. 12</span>
      </div>
    </div>
    <div class="particle">
      <div id="titleBar">
        <span id="title">인기 오프라인 모임 신청 리스트</span>
        <span id="date">2017. 12</span>
      </div>
    </div>
  </div>
</section>
