:host {
  display: inline-block;
  width: 144px;
  height: 2.9em;
  margin: 0.25em;
  text-align: left;
  font-size: 0.8em;
  user-select: none;
  line-height: 300%;  
}

div {
  width: 100%;
  padding: 0.2em 1em;
  box-sizing: border-box;
  transition: border 0.5s;
}

div:after {
  content: '';
  width: 0.9em;
  height: 0.9em;
  margin: 1em 0;
  background: url('/assets/img/arrow_down_black.png');
  background-size: 0.9em;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
}

ul {
  position: relative;
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -1px;
  border: 1px solid #d8d8d8;
  background: white;
  color: #666;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s;
  z-index: 5;
}

ul.semiShow {
  opacity: 1;
  visibility: visible;
}

ul.show {
  opacity: 1;
  visibility: visible;
}

li {
  display: block;
  width: 100%;
  padding: 0.3em 1em;
  box-sizing: border-box;
}

li:hover {
  background: rgba(200, 200, 200, 0.7);
}