<span class="cell" (click)="checkBox()">
  <input type="checkbox" [checked]="checked" />
</span>
<span class="cell" (click)="checkBox()"> {{ record['no'] }} </span>
<span class="cell" (click)="checkBox()">{{ record['name'] }}</span>
<span class="cell" (click)="checkBox()">{{ record['sex'] }}</span>
<span class="cell" (click)="checkBox()">{{ record['age'] }} </span>
<span class="cell" (click)="checkBox()">{{ record['cp'] }}</span>
<span class="cell" (click)="checkBox()">{{ record['email'] }}</span>
<span class="cell" (click)="checkBox()">{{ (record['confirm'])? '승인' : '미승인' }}</span>
